@import '../styles/ini/variables';

footer {
    display: grid;
    grid-template-columns: repeat(var(--col-num-default), 1fr);
    gap: var(--gap-default);

    margin-top: var(--gap-default);
    padding-block: var(--gap-default);

    .footer-content-wrapper {
        position: relative;
        
        grid-column-end: span calc(var(--col-num-default) - 2);

        padding-inline: var(--gap-default);

        display: grid;
        gap: var(--gap-default);

        .head {
            position: relative;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            gap: var(--gap-default);

            .media__container {
                display: flex;
                justify-content: center;
                align-items: center;

                gap: var(--gap-default);

                & > a img {
                    height: 2rem;
                    border-radius: 50%;
                    transition: var(--animation-transition-medium);

                    &:hover {
                        transform: scale(var(--animation-upscale-default));
                        box-shadow: var(--hover-elevation-shadow);
                    }
                }
            }

            &::after {
                position: absolute;
                right: 0;
                bottom: calc(-1 * var(--gap-default));

                height: 0;
                width: 100%;

                content: '';

                border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
            }
        }
    
        .main__content {
            padding-block: var(--gap-default);

            .boxes__container {
                position: relative;

                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: var(--gap-default);

                .__box {
                    display: flex;
                    flex-direction: column;
                    gap: calc(var(--gap-default) / 2);

                    .__title {
                        position: relative;

                        &::before {
                            position: absolute;
                            left: 0;
                            bottom: -2px;

                            height: calc(var(--divider-hor-height) * 2);
                            width: 35px;

                            content: '';

                            background: var(--clr-on-surface-medium-emphasis);
                        }
                    }
                }

                .input-box .__input {
                    display: grid;
                    gap: calc(var(--gap-default) / 2);

                    input[type="text"] {
                        height: 2rem;

                        font-size: 1rem;
                        color: var(--clr-on-surface-high-emphasis);
                        background: none;

                        border: none;
                        outline: none;
                        border-bottom: calc(var(--divider-hor-height) * 2) solid var(--clr-on-surface-high-emphasis);

                        transition: var(--animation-transition-fast);
                        
                        &:focus {
                            border-bottom-color: var(--clr-secondary);
                        }
                    }

                    .btn-footer-search {
                        width: 50%;

                        padding: 5px 20px;

                        background: var(--clr-on-surface-high-emphasis);
                        color: var(--clr-surface);

                        text-transform: uppercase;

                        &:hover {
                            background: var(--clr-secondary);
                            transform: scale(var(--animation-upscale-default)) translateX(5px);
                        }
                    }
                }

                &::after{
                    position: absolute;
    
                    right: 0;
                    bottom: calc(-1 * var(--gap-default));
    
                    height: 0;
                    width: 100%;
    
                    content: '';
    
                    border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
                }
            }
        }

        .bottom .bottom__content {
            display: flex;
            justify-content: space-between;
            gap: var(--gap-default);

            span {
                display: flex;
                align-items: center;
                gap: calc(var(--gap-default) / 2);

                color: var(--clr-on-surface-medium-emphasis);
            }
        }
    }
}

@media only screen and (max-width: 1250px) {

    footer .footer-content-wrapper {
        grid-column-end: span var(--col-num-default);

        @media only screen and (max-width: $width-tablet-portrait) {
            
            .head {
                justify-content: center;
            }
        }

        @media only screen and (min-width: $width-tablet-landscape) {
            grid-column-end: span calc(var(--col-num-default) - 2);
        }
        
        .main__content .boxes__container {
            grid-template-columns: repeat(calc(var(--col-num-default) / 2), 1fr);

            @media only screen and (max-width: $width-mobile) {
                & .input-box {
                    grid-column-end: span calc(var(--col-num-default) / 2);
                }
            }

            @media only screen and (min-width: $width-tablet-portrait) and (max-width: 750px) {
                grid-template-columns: repeat(3, 1fr);
            }
            
            @media only screen and (min-width: $width-tablet-landscape) {
                grid-template-columns: repeat(4, 1fr);

                @media only screen and (min-width: calc($width-tablet-landscape + 50px)) {
                    grid-template-columns: repeat(calc((var(--col-num-default) - 2) / 2), 1fr);
                }
            }
        }

        .bottom .bottom__content {
            flex-direction: column;

            span {
                justify-content: space-between;

                &.__copyright {
                    flex-direction: column;
                }
            }
        }
    }
}