// !Utility Classes

// * Grid span
.grid-col-span-2 {
    grid-column-end: span 2;
}

.grid-col-span-3 {
    grid-column-end: span 3;
}

.grid-col-span-4 {
    grid-column-end: span 4;
}

.grid-col-span-5 {
    grid-column-end: span 5;
}

.grid-col-span-7 {
    grid-column-end: span 7;
}

.grid-col-span-10 {
    grid-column-end: span 10;
}

// * Grid column start
.grid-col-start-2 {
    grid-column-start: 2; // -2 for landscape orientarions (changed in media)
}

.grid-col-start-3 {
    grid-column-start: 3;
}

.grid-col-start-4 {
    grid-column-start: 4;
}

// * Grid column end
.grid-col-span-fullscreen {
    grid-column-end: span calc(var(--col-num-default) - 2); // ? Span full
}

// * Grid row span
.grid-row-span-2 {
    grid-row: span 2;
}

.grid-row-span-3 {
    grid-row: span 3;
}

.grid-row-span-4 {
    grid-row: span 4;
}

.clickable {
    cursor: pointer;

    transition: var(--animation-transition-fast);

    &:hover {
        color: var(--clr-primary);
        text-shadow: var(--file-cover-surface-elevation-shadow);
    }

    &:active {
        color: var(--clr-on-surface-disabled);
    }
}

article {
    transition: var(--animation-transition-fast);

    &:hover {
        cursor: pointer;

        background-color: var(--clr-surface-hover);
        box-shadow: var(--hover-elevation-shadow);
        
        &::before, &::after {
            border: none !important;
        }

        &:active {
            background: var(--clr-surface-pressed);
        }

        .img-wrapper {
            background: var(--clr-on-surface-high-emphasis);

            img {
                opacity: 0.5;
            } 
        } 
    }
}

.img__container {
    position: relative;

    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    & > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.logo__container {
    cursor: pointer;
}

.dialog-trigger {
    position: relative;
    cursor: pointer;
    
    &::before {
        position: absolute;
        bottom: -1px;
        left: 0;

        content: '';

        width: 100%;
        height: 2px;

        background-color: var(--clr-outline);
    }

    &:hover {

        &::before {
            background-color: var(--clr-primary);
        }
    }
}

@media only screen and (max-width: $width-tablet-landscape) {
    .grid-col-span-fullscreen {
        grid-column-end: span var(--col-num-default);
    }
    .grid-col-start-2, .grid-col-start-3, .grid-col-start-4 {
        grid-column-start: 1;
    }
}