:root {
  --divider-ver-width: 0.05rem;
  --divider-hor-height: 0.05rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2.25rem;
  --fs-800: 3rem;
  --col-num-default: var(--col-num-desktop);
  --gap-default: var(--gap-desktop);
  --col-num-mobile: 4;
  --col-num-tablet-portrait: 8;
  --col-num-tablet-landscape: 12;
  --col-num-laptop: 12;
  --col-num-desktop: 12;
  --gap-mobile: 1rem;
  --gap-tablet-portrait: 1rem;
  --gap-tablet-landscape: 1.5rem;
  --gap-laptop: 1.5rem;
  --gap-desktop: 1.5rem;
  --animation-upscale-default: 1.1;
  --animation-downscale-default: 0.9;
  --animation-transition-fast: all 0.1s ease-in-out;
  --animation-transition-medium: all 0.2s ease-in-out;
  --animation-transition-slow: all 0.3s ease-in-out;
  --animation-duration-fast: 0.25s;
  --animation-duration-medium: 0.5s;
  --animation-duration-slow: 0.75s;
  --animation-delay-fast: 0.1s;
  --animation-delay-medium: 0.2s;
  --animation-delay-slow: 0.3s;
}
@media only screen and (max-width: 600px) {
  :root {
    --col-num-default: var(--col-num-mobile);
    --gap-default: var(--gap-mobile);
  }
}
@media only screen and (min-width: 600px) and (max-width: 905px) {
  :root {
    --col-num-default: var(--col-num-tablet-portrait);
    --gap-default: var(--gap-tablet-portrait);
  }
}
@media only screen and (min-width: 905px) and (max-width: 1280px) {
  :root {
    --col-num-default: var(--col-num-tablet-landscape);
    --gap-default: var(--gap-tablet-landscape);
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  :root {
    --col-num-default: var(--col-num-laptop);
    --gap-default: var(--gap-laptop);
  }
}
@media only screen and (min-width: 1440px) {
  :root {
    --col-num-default: var(--col-num-desktop);
    --gap-default: var(--gap-desktop);
  }
}

.theme-light {
  --clr-orange: #e9ab53;
  --clr-red: #f15e50;
  --clr-surface: #FFFFFF;
  --clr-surface-statusbar: #EBEBEB;
  --clr-surface-menu: #FFFFFF;
  --clr-surface-hover: #FFFFFF;
  --clr-surface-pressed: #EAEAEA;
  --clr-on-surface-high-emphasis: rgba(0, 0, 0, 0.87);
  --clr-on-surface-medium-emphasis: rgba(0, 0, 0, 0.6);
  --clr-on-surface-disabled: rgba(56, 56, 56, 0.6);
  --clr-on-surface-article-text: rgba(0, 0, 0, 0.6);
  --clr-on-surface-overlay: rgba(0, 0, 0, 0.08);
  --clr-on-surface-hover-overlay: rgba(105, 26, 255, 0.75);
  --clr-primary: #6B38FB;
  --clr-primary-darken: #3f1f97;
  --clr-secondary: #00C4B4;
  --clr-outline: rgba(0, 0, 0, 0.38);
  --clr-outline-variant: rgba(0, 0, 0, 0.16);
  --clr-gray: #E8E8E8;
  --clr-scrim: rgba(255, 255, 255, 0.7);
  --clr-page-surface-background: #F9F9F9;
  --hover-elevation-shadow: 0px 0.5px 1.75px rgba(0, 0, 0, 0.039), 0px 1.85px 6.25px rgba(0, 0, 0, 0.19);
  --menu-elevation-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --file-cover-surface-elevation-shadow: 0px 0.12px 1.5px rgba(0, 0, 0, 0.039), 0px 1.35px 4.5px rgba(0, 0, 0, 0.19);
}

.theme-dark {
  --clr-orange: #e9ab53;
  --clr-red: #f15e50;
  --clr-surface: #1c1c1c;
  --clr-surface-statusbar: #1c1c1c;
  --clr-surface-menu: #1c1c1c;
  --clr-surface-hover: #1c1c1c;
  --clr-surface-pressed: #1c1c1c;
  --clr-on-surface-high-emphasis: rgba(255, 255, 255, 0.87);
  --clr-on-surface-medium-emphasis: rgba(255, 255, 255, 0.6);
  --clr-on-surface-disabled: rgba(255, 255, 255, 0.38);
  --clr-on-surface-article-text: rgba(255, 255, 255, 0.38);
  --clr-on-surface-overlay: rgba(0, 0, 0, 0.6);
  --clr-on-surface-hover-overlay: rgba(187, 134, 252, 0.48);
  --clr-primary: #BB86FC;
  --clr-primary-darken: #624685;
  --clr-secondary: #70EFDE;
  --clr-outline: rgba(255, 255, 255, 0.38);
  --clr-outline-variant: rgba(255, 255, 255, 0.24);
  --clr-gray: linear-gradient(0deg, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.18)), #1c1c1c;
  --clr-scrim: rgba(0, 0, 0, 0.6);
  --clr-page-surface-background: #1c1c1c;
  --hover-elevation-shadow: 0px 0.5px 1.75px rgba(0, 0, 0, 0.039), 0px 1.85px 6.25px rgba(0, 0, 0, 0.19);
  --menu-elevation-shadow: 0px 3px 13px rgba(0, 0, 0, 0.039), 0px 10.5px 36px rgba(0, 0, 0, 0.19);
  --file-cover-surface-elevation-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

html {
  overflow-x: hidden;
}

.body-wrapper {
  color: var(--clr-on-surface-high-emphasis);
  background: var(--clr-surface);
}
.body-wrapper .main-wrapper {
  display: grid;
  row-gap: var(--gap-default);
  grid-template-columns: repeat(var(--col-num-default), 1fr);
  padding-inline: var(--gap-default);
  background: var(--clr-surface);
}
.body-wrapper .main-wrapper .general-section__container {
  position: relative;
  grid-column-end: span 5;
}
.body-wrapper .main-wrapper .general-section__container .__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: var(--gap-default);
       column-gap: var(--gap-default);
  row-gap: var(--gap-default);
  padding: var(--gap-default);
}
.body-wrapper .main-wrapper .general-section__container .__item .__info {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-default) / 6);
}
.body-wrapper .main-wrapper .general-section__container .__item .__info .__subtitle {
  color: var(--clr-on-surface-medium-emphasis);
}
.body-wrapper .main-wrapper .general-section__container .__item:first-child .img__container {
  grid-column: 4/span 2;
}
.body-wrapper .main-wrapper .general-section__container .__item:first-child .__info {
  grid-column: 1/span 3;
  grid-row-start: 1;
}
.body-wrapper .main-wrapper .general-section__container .__item:not(:last-child)::after {
  position: absolute;
  left: var(--gap-default);
  bottom: 0;
  content: "";
  width: calc(100% - var(--gap-default) * 2);
  border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
}
.body-wrapper .main-wrapper .general-section__container::after {
  position: absolute;
  top: var(--gap-default);
  right: 0;
  height: calc(100% - var(--gap-default) * 2);
  content: "";
  border-right: var(--divider-ver-width) solid var(--clr-outline);
}
.body-wrapper .main-wrapper .latest-section__container {
  position: relative;
}
.body-wrapper .main-wrapper .latest-section__container .latest-section {
  display: grid;
}
.body-wrapper .main-wrapper .latest-section__container .latest-section > div, .body-wrapper .main-wrapper .latest-section__container .latest-section > article {
  padding-inline: var(--gap-default);
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__header {
  padding-top: var(--gap-default);
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item {
  position: relative;
  padding-block: var(--gap-default);
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.65fr;
  -moz-column-gap: var(--gap-default);
       column-gap: var(--gap-default);
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item .__info {
  display: grid;
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item .__info .__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item .__info .__meta .__time {
  font-size: 10px;
  color: var(--clr-on-surface-medium-emphasis);
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item .__info .__title {
  font-size: 18px;
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item.btn {
  width: 100%;
  display: none;
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item:not(:last-child)::after {
  position: absolute;
  left: var(--gap-default);
  bottom: 0;
  content: "";
  width: calc(100% - var(--gap-default) * 2);
  border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item:nth-child(7)::after {
  display: none;
}
.body-wrapper .main-wrapper .latest-section__container::after {
  position: absolute;
  top: var(--gap-default);
  right: 0;
  height: calc(100% - var(--gap-default) * 2);
  content: "";
  border-right: var(--divider-ver-width) solid var(--clr-outline);
}
.body-wrapper .main-wrapper .stock-section__container .stock-section {
  display: grid;
}
.body-wrapper .main-wrapper .stock-section__container .stock-section > div, .body-wrapper .main-wrapper .stock-section__container .stock-section > article {
  padding-inline: var(--gap-default);
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__header {
  position: relative;
  padding-block: var(--gap-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-default);
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__header img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__header::after {
  position: absolute;
  left: var(--gap-default);
  bottom: 0;
  content: "";
  width: calc(100% - var(--gap-default) * 2);
  border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item {
  position: relative;
  padding-block: calc(var(--gap-default) * 0.8);
  display: grid;
  gap: 0.5rem;
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item .__title {
  font-weight: var(--fw-600);
  letter-spacing: 0.5px;
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item .__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item .__meta .price {
  color: var(--clr-on-surface-medium-emphasis);
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item .__meta .shift {
  font-weight: var(--fw-600);
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item .__meta .shift.minus {
  color: var(--clr-primary);
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item .__meta .shift.plus {
  color: var(--clr-secondary);
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item:not(:last-child)::after {
  position: absolute;
  left: var(--gap-default);
  bottom: 0;
  content: "";
  width: calc(100% - var(--gap-default) * 2);
  border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
}
.body-wrapper .main-wrapper .popular-section__container .popular-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.body-wrapper .main-wrapper .popular-section__container .popular-section > div, .body-wrapper .main-wrapper .popular-section__container .popular-section > article {
  padding: var(--gap-default);
}
.body-wrapper .main-wrapper .popular-section__container .popular-section .__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-default) / 2);
}
.body-wrapper .main-wrapper .popular-section__container .popular-section .__item img {
  width: 100%;
  height: 100%;
}
.body-wrapper .main-wrapper .popular-section__container .popular-section .__item .__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}
.body-wrapper .main-wrapper .popular-section__container .popular-section .__item .__content .title-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: var(--gap-default);
       column-gap: var(--gap-default);
}
.body-wrapper .main-wrapper .popular-section__container .popular-section .__item .__content .__subtitle {
  color: var(--clr-on-surface-medium-emphasis);
}
.body-wrapper .main-wrapper .popular-section__container .popular-section .__item:not(:last-child)::after {
  position: absolute;
  top: var(--gap-default);
  right: 0;
  content: "";
  height: calc(100% - var(--gap-default) * 2);
  border-right: var(--divider-ver-width) solid var(--clr-outline);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section {
  display: grid;
  grid-template-columns: repeat(calc(var(--col-num-default) - 2), 1fr);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item {
  position: relative;
  padding: var(--gap-default);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item:first-child::after {
  position: absolute;
  top: var(--gap-default);
  right: 0;
  height: calc(100% - var(--gap-default) * 2);
  content: "";
  border-right: var(--divider-ver-width) solid var(--clr-outline);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item .video__container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item .video__container .__poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item .video__container .__poster > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item .video__container .__poster .__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max(10%, 50px);
  padding-inline: var(--gap-default);
  padding-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  content: "";
  background: var(--clr-on-surface-medium-emphasis);
  transition: var(--animation-transition-slow);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item .video__container .__poster .__controls .play-icon__container {
  cursor: pointer;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item .video__container .__poster .__controls .play-icon__container img {
  width: 30px;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item .video__container .__poster .__controls .play-icon__container:hover {
  transform: scale(var(--animation-upscale-default));
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item .video__container .__poster .__controls .__title {
  color: var(--clr-surface);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item .video__container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item .video__container.playing .__controls, .body-wrapper .main-wrapper .additional-section__container .additional-section .__item .video__container.playing .__poster {
  z-index: 0;
  opacity: 0;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item:nth-child(n+2):not(:last-child)::after {
  position: absolute;
  left: var(--gap-default);
  bottom: 0;
  content: "";
  width: calc(100% - var(--gap-default) * 2);
  border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item:not(:first-child) {
  display: grid;
  gap: calc(var(--gap-default) / 3);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item:not(:first-child) .img-wrapper img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item:not(:first-child) .__content {
  display: grid;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item:not(:first-child) .__content .__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section .__item:not(:first-child) .__content .__meta .__time {
  font-size: 10px;
  color: var(--clr-outline);
}

@media only screen and (max-width: 600px) {
  .body-wrapper .main-wrapper .general-section__container .__item:first-child .img__container {
    max-height: 20rem;
  }
  .body-wrapper .main-wrapper .general-section__container::after {
    display: none;
  }
  .body-wrapper .main-wrapper .latest-section__container .latest-section .__header {
    position: relative;
    padding-bottom: var(--gap-default);
  }
  .body-wrapper .main-wrapper .latest-section__container .latest-section .__header::after {
    position: absolute;
    left: var(--gap-default);
    bottom: 0;
    content: "";
    width: calc(100% - var(--gap-default) * 2);
    border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
  }
  .body-wrapper .main-wrapper .latest-section__container .latest-section .__item.btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body-wrapper .main-wrapper .latest-section__container .latest-section .__item:nth-child(7)::after {
    display: flex;
  }
  .body-wrapper .main-wrapper .latest-section__container::before {
    position: absolute;
    left: var(--gap-default);
    top: 0;
    content: "";
    width: calc(100% - var(--gap-default) * 2);
    border-top: var(--divider-hor-height) dotted var(--clr-outline);
  }
}
@media only screen and (max-width: 600px) and (min-width: 400px) {
  .body-wrapper .main-wrapper .general-section__container .general-section .__item:not(:first-child) .__info .__title,
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item:not(:first-child) .__info .__title {
    font-size: 22px;
  }
}
@media only screen and (max-width: 600px) {
  .body-wrapper .main-wrapper .stock-section__container {
    position: relative;
    grid-column-end: span var(--col-num-default);
  }
  .body-wrapper .main-wrapper .stock-section__container .stock-section .__header {
    gap: calc(var(--gap-default) * 2);
  }
  .body-wrapper .main-wrapper .stock-section__container .stock-section .__header .__title {
    position: relative;
    width: 100%;
  }
  .body-wrapper .main-wrapper .stock-section__container .stock-section .__header .__title::after {
    position: absolute;
    left: 0;
    bottom: calc(-1 * var(--gap-default));
    content: "";
    width: 100%;
    border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
  }
  .body-wrapper .main-wrapper .stock-section__container::before {
    position: absolute;
    left: var(--gap-default);
    top: 0;
    content: "";
    width: calc(100% - var(--gap-default) * 2);
    border-top: var(--divider-hor-height) dotted var(--clr-outline);
  }
}
@media only screen and (max-width: 600px) {
  .body-wrapper .main-wrapper .popular-section__container {
    position: relative;
  }
  .body-wrapper .main-wrapper .popular-section__container .popular-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .body-wrapper .main-wrapper .popular-section__container .popular-section .__item:first-child {
    display: none;
  }
  .body-wrapper .main-wrapper .popular-section__container::before {
    position: absolute;
    left: var(--gap-default);
    top: 0;
    content: "";
    width: calc(100% - var(--gap-default) * 2);
    border-top: var(--divider-hor-height) dotted var(--clr-outline);
  }
}
@media only screen and (max-width: 600px) {
  .body-wrapper .main-wrapper .additional-section__container {
    position: relative;
  }
  .body-wrapper .main-wrapper .additional-section__container .additional-section .__item {
    grid-column-end: 2;
  }
  .body-wrapper .main-wrapper .additional-section__container .additional-section .__item:first-child {
    grid-column-end: span calc(var(--col-num-default) / 2);
  }
  .body-wrapper .main-wrapper .additional-section__container .additional-section .__item:first-child::after {
    display: none;
  }
  .body-wrapper .main-wrapper .additional-section__container .additional-section .__item:nth-child(3) {
    grid-column-start: 2;
  }
  .body-wrapper .main-wrapper .additional-section__container .additional-section .__item:nth-child(even)::after {
    display: none;
  }
  .body-wrapper .main-wrapper .additional-section__container .additional-section .__item:not(:nth-child(even)):nth-child(n+1)::before {
    position: absolute;
    top: var(--gap-default);
    left: 0;
    content: "";
    height: calc(100% - var(--gap-default) * 2);
    border-left: var(--divider-hor-height) solid var(--clr-outline);
  }
  .body-wrapper .main-wrapper .additional-section__container::before {
    position: absolute;
    left: var(--gap-default);
    top: 0;
    content: "";
    width: calc(100% - var(--gap-default) * 2);
    border-top: var(--divider-hor-height) dotted var(--clr-outline);
  }
  .body-wrapper .main-wrapper .additional-section__container::after {
    position: absolute;
    left: var(--gap-default);
    bottom: 0;
    content: "";
    width: calc(100% - var(--gap-default) * 2);
    border-top: var(--divider-hor-height) dotted var(--clr-outline);
  }
}
@media only screen and (min-width: 600px) and (max-width: 905px) {
  .body-wrapper .main-wrapper .general-section__container .general-section .__item:first-child .img__container {
    max-height: 15rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 905px) and (max-width: 750px) {
  .body-wrapper .main-wrapper .general-section__container .general-section .__item {
    grid-template-columns: repeat(3, 0.89fr) 1.33fr;
  }
}
@media only screen and (min-width: 600px) and (max-width: 905px) and (max-width: 750px) {
  .body-wrapper .main-wrapper .latest-section__container .latest-section .__item {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 600px) and (max-width: 905px) and (max-width: 750px) {
  .body-wrapper .main-wrapper .general-section__container .general-section .__item:not(:first-child) .__info .__title,
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item:not(:first-child) .__info .__title {
    font-size: 18px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 905px) and (max-width: 750px) and (max-width: 650px) {
  .body-wrapper .main-wrapper .general-section__container .general-section .__item:not(:first-child) .__info .__title,
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item:not(:first-child) .__info .__title {
    font-size: 16px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 905px) {
  .body-wrapper .main-wrapper .additional-section__container .additional-section {
    grid-template-columns: 5fr 3fr;
  }
  .body-wrapper .main-wrapper .additional-section__container .additional-section .__item {
    grid-row: auto;
    grid-column-end: auto;
  }
  .body-wrapper .main-wrapper .additional-section__container .additional-section .__item:not(:first-child)::after {
    display: none;
  }
  .body-wrapper .main-wrapper .additional-section__container .additional-section .__item:last-child {
    display: none;
  }
}
@media only screen and (max-width: 905px) {
  .body-wrapper .main-wrapper {
    padding-inline: 0;
  }
  .body-wrapper .main-wrapper .general-section__container {
    grid-column-end: span 4;
  }
  .body-wrapper .main-wrapper .general-section__container .__item {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 905px) and (max-width: 350px) {
  .body-wrapper .main-wrapper .general-section__container .__item {
    grid-template-columns: repeat(2, 1fr) 0.5fr 1.5fr;
  }
}
@media only screen and (max-width: 905px) {
  .body-wrapper .main-wrapper .general-section__container .__item .__info {
    grid-column-end: span 3;
  }
  .body-wrapper .main-wrapper .general-section__container .__item .__info .__subtitle {
    display: none;
  }
}
@media only screen and (max-width: 905px) {
  .body-wrapper .main-wrapper .general-section__container .__item:first-child .img__container {
    grid-column: 1/span 4;
  }
  .body-wrapper .main-wrapper .general-section__container .__item:first-child .__info {
    grid-row-start: 2;
    grid-column-end: span 4;
  }
}
@media only screen and (max-width: 905px) {
  .body-wrapper .main-wrapper .latest-section__container {
    grid-column-end: span 4;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .body-wrapper .main-wrapper {
    --col-num-current: var(--col-num-default);
  }
}
@media only screen and (min-width: 600px) and (max-width: 1280px) and (min-width: 905px) {
  .body-wrapper .main-wrapper {
    --col-num-current: calc(var(--col-num-default) - 2);
  }
}
@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .body-wrapper .main-wrapper .stock-section__container {
    position: relative;
    grid-column-end: span var(--col-num-current);
  }
  .body-wrapper .main-wrapper .stock-section__container .stock-section {
    display: grid;
    grid-template-columns: repeat(calc(var(--col-num-current) / 2), 1fr);
  }
  .body-wrapper .main-wrapper .stock-section__container .stock-section .__header .__title {
    display: none;
  }
  .body-wrapper .main-wrapper .stock-section__container .stock-section .__header::after {
    display: none;
  }
  .body-wrapper .main-wrapper .stock-section__container .stock-section .__item .__title {
    display: flex;
    align-items: center;
  }
  .body-wrapper .main-wrapper .stock-section__container .stock-section .__item::after {
    display: none;
  }
  .body-wrapper .main-wrapper .stock-section__container .stock-section .__item::before {
    position: absolute;
    top: var(--gap-default);
    left: 0;
    height: calc(100% - var(--gap-default) * 2);
    content: "";
    border-left: var(--divider-ver-width) solid var(--clr-outline);
  }
  .body-wrapper .main-wrapper .stock-section__container .stock-section .__item:nth-child(n+6) {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1280px) and (max-width: 905px) {
  .body-wrapper .main-wrapper .stock-section__container .stock-section .__item:nth-child(n+5) {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1280px) {
  .body-wrapper .main-wrapper .popular-section__container {
    position: relative;
  }
  .body-wrapper .main-wrapper .popular-section__container .popular-section {
    grid-template-columns: repeat(calc(var(--col-num-current) / 2), 1fr);
  }
}
@media only screen and (min-width: 600px) and (max-width: 1280px) and (max-width: 905px) {
  .body-wrapper .main-wrapper .popular-section__container .popular-section .__item:first-child {
    display: none;
  }
}
@media only screen and (min-width: 905px) and (max-width: 1280px) {
  .body-wrapper .main-wrapper .general-section__container {
    grid-column-end: span 6;
  }
}
@media only screen and (min-width: 905px) and (max-width: 1280px) and (max-width: 1150px) {
  .body-wrapper .main-wrapper .general-section__container .__item:not(:first-child) {
    grid-template-columns: repeat(3, 1fr);
  }
  .body-wrapper .main-wrapper .general-section__container .__item:not(:first-child) .__info {
    grid-column-end: span 2;
  }
}
@media only screen and (min-width: 905px) and (max-width: 1280px) {
  .body-wrapper .main-wrapper .latest-section__container {
    grid-column-end: span 4;
  }
}
@media only screen and (min-width: 905px) and (max-width: 1280px) and (max-width: 1155px) {
  .body-wrapper .main-wrapper .latest-section__container .__item:not(:first-child) {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 905px) and (max-width: 1280px) {
  .body-wrapper .main-wrapper .latest-section__container .latest-section .__item:nth-child(7), .body-wrapper .main-wrapper .latest-section__container .latest-section .__item:nth-child(6)::after {
    display: none;
  }
}
@media only screen and (max-width: 1280px) {
  .body-wrapper .main-wrapper {
    row-gap: 0;
  }
  .body-wrapper .main-wrapper .latest-section__container::after {
    display: none;
  }
}
@media only screen and (min-width: 905px) and (max-width: 1440px) {
  .body-wrapper .main-wrapper .latest-section__container .latest-section .__item .__info .__title {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .body-wrapper .main-wrapper .latest-section__container .latest-section .__item:nth-child(n+7) {
    display: none;
  }
  .body-wrapper .main-wrapper .latest-section__container .latest-section .__item:nth-child(n+6)::after {
    display: none;
  }
  .body-wrapper .main-wrapper .stock-section__container .stock-section .__item:nth-child(8) {
    display: none;
  }
  .body-wrapper .main-wrapper .stock-section__container .stock-section .__item:nth-child(7)::after {
    display: none;
  }
}
@media only screen and (min-width: 1281px) {
  .body-wrapper .main-wrapper .stock-section__container.grid-col-start-2, .body-wrapper .main-wrapper .stock-section__container.grid-col-start-3 {
    grid-column-start: auto;
  }
}