/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
button {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  color: var(--clr-black);
}

.ff-headline-1, .ff-headline-3, .ff-headline-6 {
  font-family: "Merriweather", serif;
  font-style: italic;
}

.ff-headline-2, .ff-headline-4, .ff-headline-5 {
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
}

.ff-headline-1 {
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
  /* identical to box height, or 117% */
  letter-spacing: -1.5px;
}

.ff-headline-2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height, or 120% */
  letter-spacing: -0.5px;
}

.ff-headline-3 {
  font-weight: 900;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 117% */
  letter-spacing: 0px;
}

.ff-headline-4 {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height, or 118% */
  letter-spacing: 0.25px;
}

.ff-headline-5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0px;
}

.ff-headline-6 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 120% */
  letter-spacing: 0.15px;
}

.ff-subtitle-1 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.15px;
}

.ff-subtitle-2 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.ff-body-1 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  letter-spacing: 0.45px;
}

.ff-body-2 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  letter-spacing: 0.25px;
}

.ff-button {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.5px;
}

.ff-caption {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.ff-overline {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 160% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

:root {
  --width-mobile: 375px;
  --width-tablet: 768px;
  --width-desktop: 1440px;
  --divider-ver-width: 0.05rem;
  --divider-hor-height: 0.05rem;
  --ff-primary: "Inter", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2.25rem;
  --fs-800: 3rem;
  --clr-orange: #e9ab53;
  --clr-red: #f15e50;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-primary: #fffdfa;
  --clr-grayblue-100: #c5c6ce;
  --clr-grayblue-200: #5d5f79;
  --clr-grayblue-300: #2d2f3e;
  --column-gap-default: 1.5rem;
  --row-gap-default: calc(var(--column-gap-default) * 2);
  --scale-default: 1.1;
  --transition-default: all 0.1s ease-in-out;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-col-span-3 {
  grid-column: span 3;
}

.grid-col-span-4 {
  grid-column: span 4;
}

.grid-col-span-5 {
  grid-column: span 5;
}

.grid-col-span-7 {
  grid-column: span 7;
}

.grid-col-span-10 {
  grid-column: span 10;
}

.grid-row-span-2 {
  grid-row: span 2;
}

.grid-row-span-3 {
  grid-row: span 3;
}

.grid-row-span-4 {
  grid-row: span 4;
}

.body-wrapper {
  padding-inline: var(--column-gap-default);
}
.body-wrapper .main-wrapper {
  display: grid;
  -moz-column-gap: var(--column-gap-default);
       column-gap: var(--column-gap-default);
  row-gap: var(--row-gap-default);
  grid-template-columns: repeat(12, 1fr);
}
.body-wrapper .main-wrapper .img__container {
  position: relative;
}
.body-wrapper .main-wrapper .img__container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.body-wrapper .main-wrapper .img__container > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.body-wrapper .main-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
}
.body-wrapper .main-wrapper .general-section__container {
  grid-column: 2/span 5;
}
.body-wrapper .main-wrapper .general-section__container .__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: var(--column-gap-default);
       column-gap: var(--column-gap-default);
  row-gap: 0.5rem;
  padding-block: calc(var(--row-gap-default) / 2);
}
.body-wrapper .main-wrapper .general-section__container .__item .__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.body-wrapper .main-wrapper .general-section__container .__item .__info .__title {
  font-weight: 600;
}
.body-wrapper .main-wrapper .general-section__container .__item .__info .__subtitle {
  opacity: 0.5;
}
.body-wrapper .main-wrapper .general-section__container .__item:first-child .img__container {
  grid-column: 4/span 2;
}
.body-wrapper .main-wrapper .general-section__container .__item:first-child .__info {
  grid-column: 1/span 3;
  grid-row-start: 1;
}
.body-wrapper .main-wrapper .general-section__container .__item:not(:first-child) .__title {
  font-size: 18px;
}
.body-wrapper .main-wrapper .general-section__container .__item:not(:last-child)::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  border-bottom: var(--divider-hor-height) dotted var(--clr-grayblue-100);
}
.body-wrapper .main-wrapper .latest-section__container {
  position: relative;
  padding-inline: var(--column-gap-default);
}
.body-wrapper .main-wrapper .latest-section__container .latest-section {
  display: grid;
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__header {
  padding-top: calc(var(--row-gap-default) / 2.5);
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item {
  position: relative;
  padding-block: calc(var(--row-gap-default) / 2.5);
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.65fr;
  -moz-column-gap: var(--column-gap-default);
       column-gap: var(--column-gap-default);
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item .__info {
  display: grid;
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item .__info .__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item .__info .__meta .__time {
  font-size: 10px;
  opacity: 0.5;
}
.body-wrapper .main-wrapper .latest-section__container .latest-section .__item:not(:last-child)::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  border-bottom: var(--divider-hor-height) dotted var(--clr-grayblue-100);
}
.body-wrapper .main-wrapper .latest-section__container::before {
  position: absolute;
  top: calc(var(--row-gap-default) / 2);
  left: 0;
  content: "";
  height: calc(100% - var(--row-gap-default));
  border-left: var(--divider-ver-width) solid var(--clr-grayblue-100);
}
.body-wrapper .main-wrapper .latest-section__container::after {
  position: absolute;
  top: calc(var(--row-gap-default) / 2);
  right: 0;
  content: "";
  height: calc(100% - var(--row-gap-default));
  border-right: var(--divider-ver-width) solid var(--clr-grayblue-100);
}
.body-wrapper .main-wrapper .stock-section__container .stock-section {
  display: grid;
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__header {
  position: relative;
  padding-block: calc(var(--row-gap-default) / 2.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__header img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__header::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  border-bottom: var(--divider-hor-height) dotted var(--clr-grayblue-100);
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item {
  position: relative;
  padding-block: calc(var(--row-gap-default) / 2.5);
  display: grid;
  gap: 0.5rem;
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item .__title {
  font-weight: 600;
  letter-spacing: 0.5px;
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item .__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item .__meta .price {
  opacity: 0.75;
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item .__meta .shift {
  font-weight: 600;
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item .__meta .shift.minus {
  color: var(--clr-red);
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item .__meta .shift.plus {
  color: var(--clr-grayblue-200);
}
.body-wrapper .main-wrapper .stock-section__container .stock-section .__item:not(:last-child)::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  border-bottom: var(--divider-hor-height) dotted var(--clr-grayblue-100);
}
.body-wrapper .main-wrapper .popular-section__container {
  grid-row-start: 2;
  grid-column: 2/12;
}
.body-wrapper .main-wrapper .popular-section__container .popular-section {
  display: grid;
  -moz-column-gap: calc(var(--column-gap-default) * 2);
       column-gap: calc(var(--column-gap-default) * 2);
  grid-template-columns: repeat(5, 1fr);
}
.body-wrapper .main-wrapper .popular-section__container .popular-section__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(var(--row-gap-default) / 4);
}
.body-wrapper .main-wrapper .popular-section__container .popular-section__item img {
  width: 100%;
  height: 100%;
}
.body-wrapper .main-wrapper .popular-section__container .popular-section__item .__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}
.body-wrapper .main-wrapper .popular-section__container .popular-section__item .__content .title-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: var(--column-gap-default);
       column-gap: var(--column-gap-default);
}
.body-wrapper .main-wrapper .popular-section__container .popular-section__item .__content .__subtitle {
  opacity: 0.7;
}
.body-wrapper .main-wrapper .popular-section__container .popular-section__item:not(:first-child)::before {
  position: absolute;
  top: 0;
  left: calc(-1 * var(--column-gap-default));
  height: 100%;
  content: "";
  border-left: var(--divider-ver-width) solid var(--clr-grayblue-100);
}
.body-wrapper .main-wrapper .additional-section__container {
  grid-row-start: 3;
  grid-column: 2/12;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section {
  display: grid;
  -moz-column-gap: calc(var(--column-gap-default) * 2);
       column-gap: calc(var(--column-gap-default) * 2);
  row-gap: var(--row-gap-default);
  grid-template-columns: repeat(10, 1fr);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item {
  position: relative;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item.video__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item.video__container .__poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item.video__container .__poster .__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  padding-inline: var(--column-gap-default);
  padding-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  transition: var(--transition-default);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item.video__container .__poster .__controls .play-icon__container {
  cursor: pointer;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item.video__container .__poster .__controls .play-icon__container img {
  height: calc(var(--row-gap-default) / 2);
  width: calc(var(--row-gap-default) / 2);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item.video__container .__poster .__controls .play-icon__container:hover {
  transform: scale(var(--scale-default));
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item.video__container .__poster .__controls .__title {
  color: var(--clr-white);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item.video__container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item.video__container.playing .__controls, .body-wrapper .main-wrapper .additional-section__container .additional-section__item.video__container.playing .__poster {
  z-index: 0;
  opacity: 0;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item.video__container::after {
  position: absolute;
  top: 0;
  right: calc(-1 * var(--column-gap-default));
  height: 100%;
  content: "";
  border-left: var(--divider-ver-width) solid var(--clr-grayblue-100);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item:nth-child(2)::after {
  position: absolute;
  left: 0;
  bottom: calc(-1 * var(--row-gap-default) / 2);
  content: "";
  width: 100%;
  border-bottom: var(--divider-hor-height) dotted var(--clr-grayblue-100);
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item:not(:first-child) {
  display: grid;
  gap: 0.5rem;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item:not(:first-child) .__content {
  display: grid;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item:not(:first-child) .__content .__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item:not(:first-child) .__content .__meta .__time {
  font-size: 10px;
  opacity: 0.5;
}
.body-wrapper .main-wrapper .additional-section__container .additional-section__item:not(:first-child) .__content .__title {
  font-weight: 600;
}
.body-wrapper .main-wrapper .blogs-section__container {
  grid-row-start: 4;
  grid-column: 2/12;
}
.body-wrapper .main-wrapper .blogs-section__container .blogs-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-inline: auto;
}
.body-wrapper .main-wrapper .blogs-section__container .blogs-section .blog {
  font-size: var(--fs-400);
  padding: 2rem;
  border-radius: 0.5rem;
  background: var(--clr-red);
}
.body-wrapper .main-wrapper .blogs-section__container .blogs-section .blog:last-child {
  grid-column-start: 4;
  grid-row: 1/span 2;
}
.body-wrapper .main-wrapper .blogs-section__container .blogs-section .blog > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1rem);
}
.body-wrapper .main-wrapper .blogs-section__container .blogs-section .blog.quote {
  background-image: url("../../resources/icons/quotes.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top right 10%;
}
.body-wrapper .main-wrapper .blogs-section__container .blogs-section .blog .user__info {
  display: flex;
  align-items: center;
  gap: calc(var(--column-gap-default) / 2);
}
.body-wrapper .main-wrapper .blogs-section__container .blogs-section .blog .user__info img {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--clr-white);
}
.body-wrapper .main-wrapper .blogs-section__container .blogs-section .blog .user__info .name {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: 1;
}
.body-wrapper .main-wrapper .blogs-section__container .blogs-section .blog .user__info .position {
  font-size: var(--fs-300);
  opacity: 0.5;
}
.body-wrapper .main-wrapper .blogs-section__container .blogs-section .blog > p:first-of-type {
  font-size: var(--fs-500);
  line-height: 1.2;
}
.body-wrapper .main-wrapper .blogs-section__container .blogs-section .blog > p:last-of-type {
  opacity: 0.7;
}

.header__container {
  position: relative;
  height: 70px;
  margin-block: calc(var(--column-gap-default) / 2) calc(var(--row-gap-default) / 2);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--column-gap-default);
}
.header__container img {
  cursor: pointer;
}
.header__container .menu__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container .menu__container .chip-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 2px;
  background: var(--clr-red);
}
.header__container .menu__container img {
  height: 30px;
}
.header__container .logo__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__container .logo__container img {
  height: 45px;
}
.header__container .nav-list__container {
  grid-column: 4/12;
}
.header__container .nav-list__container .nav-list {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.header__container .nav-list__container .nav-list li {
  cursor: pointer;
  transition: var(--transition-default);
}
.header__container .nav-list__container .nav-list li:hover {
  color: var(--clr-red);
  transform: scale(var(--scale-default));
}
.header__container .user-icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container .user-icon__container img {
  height: 45px;
}