:root {
  --divider-ver-width: 0.05rem;
  --divider-hor-height: 0.05rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2.25rem;
  --fs-800: 3rem;
  --col-num-default: var(--col-num-desktop);
  --gap-default: var(--gap-desktop);
  --col-num-mobile: 4;
  --col-num-tablet-portrait: 8;
  --col-num-tablet-landscape: 12;
  --col-num-laptop: 12;
  --col-num-desktop: 12;
  --gap-mobile: 1rem;
  --gap-tablet-portrait: 1rem;
  --gap-tablet-landscape: 1.5rem;
  --gap-laptop: 1.5rem;
  --gap-desktop: 1.5rem;
  --animation-upscale-default: 1.1;
  --animation-downscale-default: 0.9;
  --animation-transition-fast: all 0.1s ease-in-out;
  --animation-transition-medium: all 0.2s ease-in-out;
  --animation-transition-slow: all 0.3s ease-in-out;
  --animation-duration-fast: 0.25s;
  --animation-duration-medium: 0.5s;
  --animation-duration-slow: 0.75s;
  --animation-delay-fast: 0.1s;
  --animation-delay-medium: 0.2s;
  --animation-delay-slow: 0.3s;
}
@media only screen and (max-width: 600px) {
  :root {
    --col-num-default: var(--col-num-mobile);
    --gap-default: var(--gap-mobile);
  }
}
@media only screen and (min-width: 600px) and (max-width: 905px) {
  :root {
    --col-num-default: var(--col-num-tablet-portrait);
    --gap-default: var(--gap-tablet-portrait);
  }
}
@media only screen and (min-width: 905px) and (max-width: 1250px) {
  :root {
    --col-num-default: var(--col-num-tablet-landscape);
    --gap-default: var(--gap-tablet-landscape);
  }
}
@media only screen and (min-width: 1250px) and (max-width: 1440px) {
  :root {
    --col-num-default: var(--col-num-laptop);
    --gap-default: var(--gap-laptop);
  }
}
@media only screen and (min-width: 1440px) {
  :root {
    --col-num-default: var(--col-num-desktop);
    --gap-default: var(--gap-desktop);
  }
}

.theme-light {
  --clr-orange: #e9ab53;
  --clr-red: #f15e50;
  --clr-surface: #FFFFFF;
  --clr-surface-statusbar: #EBEBEB;
  --clr-surface-menu: #FFFFFF;
  --clr-surface-hover: #FFFFFF;
  --clr-surface-pressed: #EAEAEA;
  --clr-on-surface-high-emphasis: rgba(0, 0, 0, 0.87);
  --clr-on-surface-medium-emphasis: rgba(0, 0, 0, 0.6);
  --clr-on-surface-disabled: rgba(56, 56, 56, 0.6);
  --clr-on-surface-article-text: rgba(0, 0, 0, 0.6);
  --clr-on-surface-overlay: rgba(0, 0, 0, 0.08);
  --clr-on-surface-hover-overlay: rgba(105, 26, 255, 0.75);
  --clr-primary: #6B38FB;
  --clr-primary-darken: #3f1f97;
  --clr-secondary: #00C4B4;
  --clr-outline: rgba(0, 0, 0, 0.38);
  --clr-outline-variant: rgba(0, 0, 0, 0.16);
  --clr-gray: #E8E8E8;
  --clr-scrim: rgba(255, 255, 255, 0.7);
  --clr-page-surface-background: #F9F9F9;
  --hover-elevation-shadow: 0px 0.5px 1.75px rgba(0, 0, 0, 0.039), 0px 1.85px 6.25px rgba(0, 0, 0, 0.19);
  --menu-elevation-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --file-cover-surface-elevation-shadow: 0px 0.12px 1.5px rgba(0, 0, 0, 0.039), 0px 1.35px 4.5px rgba(0, 0, 0, 0.19);
}

.theme-dark {
  --clr-orange: #e9ab53;
  --clr-red: #f15e50;
  --clr-surface: #1c1c1c;
  --clr-surface-statusbar: #1c1c1c;
  --clr-surface-menu: #1c1c1c;
  --clr-surface-hover: #1c1c1c;
  --clr-surface-pressed: #1c1c1c;
  --clr-on-surface-high-emphasis: rgba(255, 255, 255, 0.87);
  --clr-on-surface-medium-emphasis: rgba(255, 255, 255, 0.6);
  --clr-on-surface-disabled: rgba(255, 255, 255, 0.38);
  --clr-on-surface-article-text: rgba(255, 255, 255, 0.38);
  --clr-on-surface-overlay: rgba(0, 0, 0, 0.6);
  --clr-on-surface-hover-overlay: rgba(187, 134, 252, 0.48);
  --clr-primary: #BB86FC;
  --clr-primary-darken: #624685;
  --clr-secondary: #70EFDE;
  --clr-outline: rgba(255, 255, 255, 0.38);
  --clr-outline-variant: rgba(255, 255, 255, 0.24);
  --clr-gray: linear-gradient(0deg, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.18)), #1c1c1c;
  --clr-scrim: rgba(0, 0, 0, 0.6);
  --clr-page-surface-background: #1c1c1c;
  --hover-elevation-shadow: 0px 0.5px 1.75px rgba(0, 0, 0, 0.039), 0px 1.85px 6.25px rgba(0, 0, 0, 0.19);
  --menu-elevation-shadow: 0px 3px 13px rgba(0, 0, 0, 0.039), 0px 10.5px 36px rgba(0, 0, 0, 0.19);
  --file-cover-surface-elevation-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.main-wrapper {
  display: grid;
  grid-template-columns: repeat(var(--col-num-default), 1fr);
  padding-inline: var(--gap-default);
  --col-num-current: var(--col-num-default);
}
@media only screen and (min-width: 905px) {
  .main-wrapper {
    --col-num-current: calc(var(--col-num-default) - 2);
  }
}
.main-wrapper .form-box {
  grid-column-end: span var(--col-num-current);
  margin-inline: var(--gap-default);
  padding-top: var(--gap-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-wrapper .form-box .progress {
  position: relative;
  padding: var(--gap-default);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: calc(var(--gap-default) * 2);
}
.main-wrapper .form-box .progress .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrapper .form-box .progress .logo > a {
  font-size: 40px;
}
.main-wrapper .form-box .progress .progress-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-default);
}
.main-wrapper .form-box .progress .progress-steps .step {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-default);
}
.main-wrapper .form-box .progress .progress-steps .step > span {
  position: relative;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: var(--clr-surface);
}
.main-wrapper .form-box .progress .progress-steps .step > span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: inherit;
  aspect-ratio: 1/1;
  z-index: -1;
  border-radius: 50%;
  background: var(--clr-secondary);
}
.main-wrapper .form-box .progress .progress-steps .step .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-wrapper .form-box .progress .progress-steps .step .info p:nth-child(2) {
  color: var(--clr-outline);
  display: none;
}
.main-wrapper .form-box .progress .progress-steps .step.active > span::after {
  background: var(--clr-primary);
}
.main-wrapper .form-box .progress .progress-steps .step.completed > span::after {
  background: var(--clr-primary-darken);
}
.main-wrapper .form-box form {
  width: 100%;
  padding: var(--gap-default);
}
.main-wrapper .form-box form > div {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 0;
}
.main-wrapper .form-box form > div .__title {
  font-weight: 900;
}
.main-wrapper .form-box form > div .__subtitle {
  color: var(--clr-outline);
  margin-block: calc(var(--gap-default) / 3) calc(var(--gap-default) * 1.5);
}
.main-wrapper .form-box form > div:not(:first-child) .__title {
  -webkit-margin-after: var(--gap-default);
          margin-block-end: var(--gap-default);
}
.main-wrapper .form-box form > div > div:not(.__checkbox) {
  display: flex;
  flex-direction: column;
  -webkit-margin-after: var(--gap-default);
          margin-block-end: var(--gap-default);
}
.main-wrapper .form-box form > div > div:not(.__checkbox) label {
  -webkit-margin-after: calc(var(--gap-default) / 6);
          margin-block-end: calc(var(--gap-default) / 6);
  font-size: 16px;
  font-weight: 600;
}
.main-wrapper .form-box form :where(input, select) {
  height: calc(var(--gap-default) * 1.5);
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--clr-on-surface-high-emphasis);
  transition: var(--animation-transition-medium);
}
.main-wrapper .form-box form :where(input, select):focus, .main-wrapper .form-box form :where(input, select):hover {
  border-bottom: 1px solid var(--clr-primary);
}
.main-wrapper .form-box form .birth-date {
  display: flex;
}
.main-wrapper .form-box form .birth-date > input {
  max-width: 70px;
  text-align: center;
  -webkit-margin-end: calc(var(--gap-default) / 2);
          margin-inline-end: calc(var(--gap-default) / 2);
}
.main-wrapper .form-box form .__checkbox {
  display: flex;
  align-items: center;
  gap: calc(var(--gap-default) / 2);
}
.main-wrapper .form-box form .__checkbox > input[type=checkbox] {
  height: auto;
}
.main-wrapper .form-box form .form-step {
  display: none;
  -webkit-animation: fadeIn var(--animation-duration-medium) cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fadeIn var(--animation-duration-medium) cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.main-wrapper .form-box form .form-step.active {
  display: block;
}
.main-wrapper .form-box form .btn-group {
  display: flex;
  justify-content: flex-start;
  flex: row wrap;
  gap: var(--gap-default);
  -webkit-margin-before: var(--gap-default);
          margin-block-start: var(--gap-default);
}
@media only screen and (max-width: 400px) {
  .main-wrapper .form-box form .btn-group {
    justify-content: space-between;
  }
}
.main-wrapper .form-box form .btn-group .btn {
  padding: 5px 20px;
}
.main-wrapper .form-box form .btn-group .btn:not(:disabled):hover {
  color: var(--clr-surface);
}
.main-wrapper .form-box form .btn-group .btn-submit {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: var(--animation-transition-medium);
}
.main-wrapper .form-box form:has(.form-3.active) .btn-group .btn-submit {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.main-wrapper .form-box ::-moz-placeholder {
  color: var(--clr-on-surface-medium-emphasis);
}
.main-wrapper .form-box :-ms-input-placeholder {
  color: var(--clr-on-surface-medium-emphasis);
}
.main-wrapper .form-box ::placeholder {
  color: var(--clr-on-surface-medium-emphasis);
}

@media only screen and (min-width: 905px) {
  .main-wrapper .form-box {
    flex-direction: row;
  }
  .main-wrapper .form-box .progress {
    min-width: 300px;
    flex: 1 0 35%;
    padding: calc(var(--gap-default) * 2);
  }
  .main-wrapper .form-box .progress .progress-steps {
    flex-direction: column;
    gap: calc(var(--gap-default) * 2);
  }
  .main-wrapper .form-box .progress .progress-steps .step {
    flex-direction: row;
  }
  .main-wrapper .form-box .progress .progress-steps .step .info p:nth-child(2) {
    display: block;
  }
  .main-wrapper .form-box .progress .progress-steps .step:not(:last-child) span::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(100%);
    content: "";
    width: calc(var(--divider-ver-width) * 2);
    height: 60px;
    z-index: -1;
    background: var(--clr-outline);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}