/* the props */
@import "https://unpkg.com/open-props";
:root {
  --divider-ver-width: 0.05rem;
  --divider-hor-height: 0.05rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2.25rem;
  --fs-800: 3rem;
  --col-num-default: var(--col-num-desktop);
  --gap-default: var(--gap-desktop);
  --col-num-mobile: 4;
  --col-num-tablet-portrait: 8;
  --col-num-tablet-landscape: 12;
  --col-num-laptop: 12;
  --col-num-desktop: 12;
  --gap-mobile: 1rem;
  --gap-tablet-portrait: 1rem;
  --gap-tablet-landscape: 1.5rem;
  --gap-laptop: 1.5rem;
  --gap-desktop: 1.5rem;
  --animation-upscale-default: 1.1;
  --animation-downscale-default: 0.9;
  --animation-transition-fast: all 0.1s ease-in-out;
  --animation-transition-medium: all 0.2s ease-in-out;
  --animation-transition-slow: all 0.3s ease-in-out;
  --animation-duration-fast: 0.25s;
  --animation-duration-medium: 0.5s;
  --animation-duration-slow: 0.75s;
  --animation-delay-fast: 0.1s;
  --animation-delay-medium: 0.2s;
  --animation-delay-slow: 0.3s;
}
@media only screen and (max-width: 600px) {
  :root {
    --col-num-default: var(--col-num-mobile);
    --gap-default: var(--gap-mobile);
  }
}
@media only screen and (min-width: 600px) and (max-width: 905px) {
  :root {
    --col-num-default: var(--col-num-tablet-portrait);
    --gap-default: var(--gap-tablet-portrait);
  }
}
@media only screen and (min-width: 905px) and (max-width: 1250px) {
  :root {
    --col-num-default: var(--col-num-tablet-landscape);
    --gap-default: var(--gap-tablet-landscape);
  }
}
@media only screen and (min-width: 1250px) and (max-width: 1440px) {
  :root {
    --col-num-default: var(--col-num-laptop);
    --gap-default: var(--gap-laptop);
  }
}
@media only screen and (min-width: 1440px) {
  :root {
    --col-num-default: var(--col-num-desktop);
    --gap-default: var(--gap-desktop);
  }
}

.theme-light {
  --clr-orange: #e9ab53;
  --clr-red: #f15e50;
  --clr-surface: #FFFFFF;
  --clr-surface-statusbar: #EBEBEB;
  --clr-surface-menu: #FFFFFF;
  --clr-surface-hover: #FFFFFF;
  --clr-surface-pressed: #EAEAEA;
  --clr-on-surface-high-emphasis: rgba(0, 0, 0, 0.87);
  --clr-on-surface-medium-emphasis: rgba(0, 0, 0, 0.6);
  --clr-on-surface-disabled: rgba(56, 56, 56, 0.6);
  --clr-on-surface-article-text: rgba(0, 0, 0, 0.6);
  --clr-on-surface-overlay: rgba(0, 0, 0, 0.08);
  --clr-on-surface-hover-overlay: rgba(105, 26, 255, 0.75);
  --clr-primary: #6B38FB;
  --clr-primary-darken: #3f1f97;
  --clr-secondary: #00C4B4;
  --clr-outline: rgba(0, 0, 0, 0.38);
  --clr-outline-variant: rgba(0, 0, 0, 0.16);
  --clr-gray: #E8E8E8;
  --clr-scrim: rgba(255, 255, 255, 0.7);
  --clr-page-surface-background: #F9F9F9;
  --hover-elevation-shadow: 0px 0.5px 1.75px rgba(0, 0, 0, 0.039), 0px 1.85px 6.25px rgba(0, 0, 0, 0.19);
  --menu-elevation-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --file-cover-surface-elevation-shadow: 0px 0.12px 1.5px rgba(0, 0, 0, 0.039), 0px 1.35px 4.5px rgba(0, 0, 0, 0.19);
}

.theme-dark {
  --clr-orange: #e9ab53;
  --clr-red: #f15e50;
  --clr-surface: #1c1c1c;
  --clr-surface-statusbar: #1c1c1c;
  --clr-surface-menu: #1c1c1c;
  --clr-surface-hover: #1c1c1c;
  --clr-surface-pressed: #1c1c1c;
  --clr-on-surface-high-emphasis: rgba(255, 255, 255, 0.87);
  --clr-on-surface-medium-emphasis: rgba(255, 255, 255, 0.6);
  --clr-on-surface-disabled: rgba(255, 255, 255, 0.38);
  --clr-on-surface-article-text: rgba(255, 255, 255, 0.38);
  --clr-on-surface-overlay: rgba(0, 0, 0, 0.6);
  --clr-on-surface-hover-overlay: rgba(187, 134, 252, 0.48);
  --clr-primary: #BB86FC;
  --clr-primary-darken: #624685;
  --clr-secondary: #70EFDE;
  --clr-outline: rgba(255, 255, 255, 0.38);
  --clr-outline-variant: rgba(255, 255, 255, 0.24);
  --clr-gray: linear-gradient(0deg, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.18)), #1c1c1c;
  --clr-scrim: rgba(0, 0, 0, 0.6);
  --clr-page-surface-background: #1c1c1c;
  --hover-elevation-shadow: 0px 0.5px 1.75px rgba(0, 0, 0, 0.039), 0px 1.85px 6.25px rgba(0, 0, 0, 0.19);
  --menu-elevation-shadow: 0px 3px 13px rgba(0, 0, 0, 0.039), 0px 10.5px 36px rgba(0, 0, 0, 0.19);
  --file-cover-surface-elevation-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.main-wrapper {
  display: grid;
  grid-template-columns: repeat(var(--col-num-default), 1fr);
  --col-num-current: var(--col-num-default);
  background: var(--clr-surface);
}
@media only screen and (min-width: 905px) {
  .main-wrapper {
    --col-num-current: calc(var(--col-num-default) - 2);
  }
}
.main-wrapper .video__container {
  grid-column-end: span var(--col-num-current);
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrapper .video__container .__poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main-wrapper .video__container .__poster > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-wrapper .video__container .__poster .__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max(10%, 50px);
  padding-inline: var(--gap-default);
  padding-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  content: "";
  background: var(--clr-on-surface-medium-emphasis);
  transition: var(--animation-transition-slow);
}
.main-wrapper .video__container .__poster .__controls .play-icon__container {
  cursor: pointer;
}
.main-wrapper .video__container .__poster .__controls .play-icon__container img {
  width: 30px;
}
.main-wrapper .video__container .__poster .__controls .play-icon__container:hover {
  transform: scale(var(--animation-upscale-default));
}
.main-wrapper .video__container .__poster .__controls .__title {
  color: var(--clr-surface);
}
.main-wrapper .video__container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-wrapper .video__container.playing .__controls, .main-wrapper .video__container.playing .__poster {
  z-index: 0;
  opacity: 0;
}
.main-wrapper .__info {
  grid-column-end: span var(--col-num-current);
  display: grid;
}
.main-wrapper .__info .__general-info {
  display: grid;
  row-gap: calc(var(--gap-default) / 3);
  padding: var(--gap-default);
}
.main-wrapper .__info .__general-info .__overline {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.main-wrapper .__info .__general-info .__overline .divider {
  color: var(--clr-on-surface-article-text);
}
.main-wrapper .__info .__general-info .__title {
  padding-bottom: calc(var(--gap-default) / 3);
  font-style: normal;
  font-size: 29px;
  line-height: 120%;
}
.main-wrapper .__info .__general-info .__subtitle {
  color: var(--clr-on-surface-medium-emphasis);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
}
.main-wrapper .__info .__meta {
  display: flex;
  align-items: center;
  gap: calc(var(--gap-default) / 2);
  padding-inline: var(--gap-default);
}
.main-wrapper .__info .__meta .author__photo {
  position: relative;
  width: 40px;
}
.main-wrapper .__info .__meta .author__photo img {
  border-radius: 50%;
}
.main-wrapper .__info .__meta .author__photo::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  border-radius: 50%;
  background: var(--clr-gray);
}
.main-wrapper .__info .__meta > p {
  margin-left: calc(var(--gap-default) / 4);
  color: var(--clr-on-surface-medium-emphasis);
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0;
}
.main-wrapper .__info .__meta .author__name {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
}
.main-wrapper .media-scroller__title {
  grid-column-end: span var(--col-num-current);
  padding: calc(var(--gap-default) * 2) var(--gap-default) 0 var(--gap-default);
}
.main-wrapper .media-scroller__container {
  position: relative;
  grid-column-end: span var(--col-num-current);
}
@media only screen and (min-width: 905px) {
  .main-wrapper .media-scroller__container {
    grid-column-end: span calc(var(--col-num-current) - 2);
  }
}
.main-wrapper .media-scroller__container .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  aspect-ratio: 1/1;
  cursor: pointer;
  z-index: 1;
  transition: var(--animation-transition-medium);
}
.main-wrapper .media-scroller__container .arrow .scroll-btn {
  pointer-events: none;
}
.main-wrapper .media-scroller__container .left-arrow {
  left: calc(-2 * var(--gap-default));
}
.main-wrapper .media-scroller__container .right-arrow {
  right: calc(-2 * var(--gap-default));
}
.main-wrapper .media-scroller__container .media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 42%;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.main-wrapper .media-scroller__container .media-scroller .media-element {
  position: relative;
  display: grid;
  row-gap: calc(var(--gap-default) / 2);
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  padding: var(--gap-default);
  cursor: pointer;
  transition: var(--animation-transition-medium);
}
.main-wrapper .media-scroller__container .media-scroller .media-element > img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-wrapper .media-scroller__container .media-scroller .media-element img, .main-wrapper .media-scroller__container .media-scroller .media-element p {
  opacity: 0.75;
}
.main-wrapper .media-scroller__container .media-scroller .media-element:not(:last-of-type)::after {
  position: absolute;
  top: var(--gap-default);
  right: 0;
  height: calc(100% - var(--gap-default) * 2);
  content: "";
  border-right: var(--divider-ver-width) solid var(--clr-outline);
}
.main-wrapper .media-scroller__container .media-scroller .media-element:hover img, .main-wrapper .media-scroller__container .media-scroller .media-element:hover p {
  opacity: 1;
}
.main-wrapper .media-scroller__container .media-scroller::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 1250px) {
  .main-wrapper .media-scroller__container .snaps-inline {
    -ms-scroll-snap-type: inline mandatory;
        scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--gap-default, 1rem);
  }
  .main-wrapper .media-scroller__container .snaps-inline > * {
    scroll-snap-align: start;
  }
  .main-wrapper .media-scroller__container .arrow {
    display: none;
  }
}
.main-wrapper .media-scroller__container .hide {
  opacity: 0;
}

@media screen and (min-width: 905px) {
  .main-wrapper {
    padding-inline: var(--gap-default);
  }
  .main-wrapper .video__container {
    grid-column-end: span 6;
    -webkit-margin-start: var(--gap-default);
            margin-inline-start: var(--gap-default);
  }
  .main-wrapper .__info {
    grid-column-end: span 4;
  }
  .main-wrapper .__info .__general-info {
    padding-top: 0;
  }
}
@media screen and (min-width: 905px) and (min-width: 1250px) {
  .main-wrapper .__info .__general-info .__title {
    font-size: 40px;
    line-height: 125%;
  }
  .main-wrapper .__info .__general-info .__subtitle {
    font-size: 16px;
    line-height: 162%;
  }
}
@media screen and (min-width: 905px) and (min-width: 1250px) and (min-width: 1440px) {
  .main-wrapper .__info .__general-info .__title {
    font-size: 48px;
    line-height: 120%;
  }
  .main-wrapper .__info .__general-info .__subtitle {
    font-size: 18px;
    line-height: 160%;
  }
}
@media screen and (min-width: 905px) and (min-width: 1250px) {
  .main-wrapper .__info .__meta .author__photo {
    width: 44px;
  }
}
@media screen and (min-width: 905px) and (min-width: 1250px) and (min-width: 1440px) {
  .main-wrapper .__info .__meta .author__photo {
    width: 48px;
  }
  .main-wrapper .__info .__meta .author__name {
    font-size: 20px;
    line-height: 140%;
  }
}
@media screen and (min-width: 905px) and (min-width: 1250px) {
  .main-wrapper .__text-wrapper > p {
    font-size: 20px;
    line-height: 180%;
  }
}
@media screen and (min-width: 905px) and (min-width: 1250px) and (min-width: 1440px) {
  .main-wrapper .__text-wrapper > p {
    font-size: 22px;
  }
}