@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
* {
  color: var(--clr-on-surface-high-emphasis);
}

.ff-headline-1, .ff-headline-3, .ff-headline-6 {
  font-family: "Merriweather", serif;
  font-style: italic;
}

.ff-headline-2, .ff-headline-4, .ff-headline-5 {
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
}

.ff-headline-1 {
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
  /* identical to box height, or 117% */
  letter-spacing: -1.5px;
}

.ff-headline-2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height, or 120% */
  letter-spacing: -0.5px;
}

.ff-headline-3 {
  font-weight: 900;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 117% */
  letter-spacing: 0px;
}

.ff-headline-4 {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height, or 118% */
  letter-spacing: 0.25px;
}

.ff-headline-5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0px;
}

.ff-headline-6 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 120% */
  letter-spacing: 0.15px;
}

.ff-subtitle-1 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.15px;
}

.ff-subtitle-2 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.ff-body-1 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */
  letter-spacing: 0.45px;
}

.ff-body-2 {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  letter-spacing: 0.25px;
}

.ff-button {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.5px;
}

.ff-caption {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.ff-overline {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 160% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.ff-logo {
  font-family: "Chomsky";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

@font-face {
  font-family: "Chomsky";
  src: url("/resources/fonts/Chomsky/Chomsky.woff2") format("woff2"), url("/resources/fonts/Chomsky/Chomsky.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --divider-ver-width: 0.05rem;
  --divider-hor-height: 0.05rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2.25rem;
  --fs-800: 3rem;
  --col-num-default: var(--col-num-desktop);
  --gap-default: var(--gap-desktop);
  --col-num-mobile: 4;
  --col-num-tablet-portrait: 8;
  --col-num-tablet-landscape: 12;
  --col-num-laptop: 12;
  --col-num-desktop: 12;
  --gap-mobile: 1rem;
  --gap-tablet-portrait: 1rem;
  --gap-tablet-landscape: 1.5rem;
  --gap-laptop: 1.5rem;
  --gap-desktop: 1.5rem;
  --animation-upscale-default: 1.1;
  --animation-downscale-default: 0.9;
  --animation-transition-fast: all 0.1s ease-in-out;
  --animation-transition-medium: all 0.2s ease-in-out;
  --animation-transition-slow: all 0.3s ease-in-out;
  --animation-duration-fast: 0.25s;
  --animation-duration-medium: 0.5s;
  --animation-duration-slow: 0.75s;
  --animation-delay-fast: 0.1s;
  --animation-delay-medium: 0.2s;
  --animation-delay-slow: 0.3s;
}
@media only screen and (max-width: 600px) {
  :root {
    --col-num-default: var(--col-num-mobile);
    --gap-default: var(--gap-mobile);
  }
}
@media only screen and (min-width: 600px) and (max-width: 905px) {
  :root {
    --col-num-default: var(--col-num-tablet-portrait);
    --gap-default: var(--gap-tablet-portrait);
  }
}
@media only screen and (min-width: 905px) and (max-width: 1280px) {
  :root {
    --col-num-default: var(--col-num-tablet-landscape);
    --gap-default: var(--gap-tablet-landscape);
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  :root {
    --col-num-default: var(--col-num-laptop);
    --gap-default: var(--gap-laptop);
  }
}
@media only screen and (min-width: 1440px) {
  :root {
    --col-num-default: var(--col-num-desktop);
    --gap-default: var(--gap-desktop);
  }
}

.theme-light {
  --clr-orange: #e9ab53;
  --clr-red: #f15e50;
  --clr-surface: #FFFFFF;
  --clr-surface-statusbar: #EBEBEB;
  --clr-surface-menu: #FFFFFF;
  --clr-surface-hover: #FFFFFF;
  --clr-surface-pressed: #EAEAEA;
  --clr-on-surface-high-emphasis: rgba(0, 0, 0, 0.87);
  --clr-on-surface-medium-emphasis: rgba(0, 0, 0, 0.6);
  --clr-on-surface-disabled: rgba(56, 56, 56, 0.6);
  --clr-on-surface-article-text: rgba(0, 0, 0, 0.6);
  --clr-on-surface-overlay: rgba(0, 0, 0, 0.08);
  --clr-on-surface-hover-overlay: rgba(105, 26, 255, 0.75);
  --clr-primary: #6B38FB;
  --clr-primary-darken: #3f1f97;
  --clr-secondary: #00C4B4;
  --clr-outline: rgba(0, 0, 0, 0.38);
  --clr-outline-variant: rgba(0, 0, 0, 0.16);
  --clr-gray: #E8E8E8;
  --clr-scrim: rgba(255, 255, 255, 0.7);
  --clr-page-surface-background: #F9F9F9;
  --hover-elevation-shadow: 0px 0.5px 1.75px rgba(0, 0, 0, 0.039), 0px 1.85px 6.25px rgba(0, 0, 0, 0.19);
  --menu-elevation-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --file-cover-surface-elevation-shadow: 0px 0.12px 1.5px rgba(0, 0, 0, 0.039), 0px 1.35px 4.5px rgba(0, 0, 0, 0.19);
}

.theme-dark {
  --clr-orange: #e9ab53;
  --clr-red: #f15e50;
  --clr-surface: #1c1c1c;
  --clr-surface-statusbar: #1c1c1c;
  --clr-surface-menu: #1c1c1c;
  --clr-surface-hover: #1c1c1c;
  --clr-surface-pressed: #1c1c1c;
  --clr-on-surface-high-emphasis: rgba(255, 255, 255, 0.87);
  --clr-on-surface-medium-emphasis: rgba(255, 255, 255, 0.6);
  --clr-on-surface-disabled: rgba(255, 255, 255, 0.38);
  --clr-on-surface-article-text: rgba(255, 255, 255, 0.38);
  --clr-on-surface-overlay: rgba(0, 0, 0, 0.6);
  --clr-on-surface-hover-overlay: rgba(187, 134, 252, 0.48);
  --clr-primary: #BB86FC;
  --clr-primary-darken: #624685;
  --clr-secondary: #70EFDE;
  --clr-outline: rgba(255, 255, 255, 0.38);
  --clr-outline-variant: rgba(255, 255, 255, 0.24);
  --clr-gray: linear-gradient(0deg, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.18)), #1c1c1c;
  --clr-scrim: rgba(0, 0, 0, 0.6);
  --clr-page-surface-background: #1c1c1c;
  --hover-elevation-shadow: 0px 0.5px 1.75px rgba(0, 0, 0, 0.039), 0px 1.85px 6.25px rgba(0, 0, 0, 0.19);
  --menu-elevation-shadow: 0px 3px 13px rgba(0, 0, 0, 0.039), 0px 10.5px 36px rgba(0, 0, 0, 0.19);
  --file-cover-surface-elevation-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.grid-col-span-2 {
  grid-column-end: span 2;
}

.grid-col-span-3 {
  grid-column-end: span 3;
}

.grid-col-span-4 {
  grid-column-end: span 4;
}

.grid-col-span-5 {
  grid-column-end: span 5;
}

.grid-col-span-7 {
  grid-column-end: span 7;
}

.grid-col-span-10 {
  grid-column-end: span 10;
}

.grid-col-start-2 {
  grid-column-start: 2;
}

.grid-col-start-3 {
  grid-column-start: 3;
}

.grid-col-start-4 {
  grid-column-start: 4;
}

.grid-col-span-fullscreen {
  grid-column-end: span calc(var(--col-num-default) - 2);
}

.grid-row-span-2 {
  grid-row: span 2;
}

.grid-row-span-3 {
  grid-row: span 3;
}

.grid-row-span-4 {
  grid-row: span 4;
}

.clickable {
  cursor: pointer;
  transition: var(--animation-transition-fast);
}
.clickable:hover {
  color: var(--clr-primary);
  text-shadow: var(--file-cover-surface-elevation-shadow);
}
.clickable:active {
  color: var(--clr-on-surface-disabled);
}

article {
  transition: var(--animation-transition-fast);
}
article:hover {
  cursor: pointer;
  background-color: var(--clr-surface-hover);
  box-shadow: var(--hover-elevation-shadow);
}
article:hover::before, article:hover::after {
  border: none !important;
}
article:hover:active {
  background: var(--clr-surface-pressed);
}
article:hover .img-wrapper {
  background: var(--clr-on-surface-high-emphasis);
}
article:hover .img-wrapper img {
  opacity: 0.5;
}

.img__container {
  position: relative;
}
.img__container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.img__container > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo__container {
  cursor: pointer;
}

.dialog-trigger {
  position: relative;
  cursor: pointer;
}
.dialog-trigger::before {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--clr-outline);
}
.dialog-trigger:hover::before {
  background-color: var(--clr-primary);
}

@media only screen and (max-width: 905px) {
  .grid-col-span-fullscreen {
    grid-column-end: span var(--col-num-default);
  }
  .grid-col-start-2, .grid-col-start-3, .grid-col-start-4 {
    grid-column-start: 1;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
button {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  background: var(--clr-surface);
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.btn-default {
  border: none;
  background: var(--clr-gray);
  transition: var(--animation-transition-fast);
  cursor: pointer;
}
.btn-default:not(:disabled):hover {
  background: var(--clr-primary);
  transform: scale(var(--animation-upscale-default));
  box-shadow: var(--hover-elevation-shadow);
}
.btn-default:active {
  box-shadow: none;
}
.btn-default:disabled {
  background: var(--clr-on-surface-disabled);
  cursor: text;
}

.side-menu-background {
  display: none;
}

.side-menu__container {
  position: fixed;
  top: calc(var(--gap-default) * 5);
  left: var(--gap-default);
  max-height: calc(100vh - var(--gap-default) * 6);
  overflow-y: scroll;
  z-index: 10;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.side-menu__container::-webkit-scrollbar {
  display: none;
}
.side-menu__container .side-menu {
  display: none;
}
.side-menu__container .side-menu__title {
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
}
.side-menu__container .side-menu .menu-list {
  display: flex;
  flex-direction: column;
}
.side-menu__container .side-menu .menu-list .menu__item .__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: 0.5rem;
}
.side-menu__container .side-menu .menu-list .menu__item .__info .expand-icon__container {
  transition: var(--animation-transition-medium);
}
.side-menu__container .side-menu .menu-list .menu__item .__info .expand-icon__container img {
  width: 30px;
}
.side-menu__container .side-menu .menu-list .menu__item .__info__title {
  font-size: 16px;
  font-weight: var(--fw-600);
}
.side-menu__container .side-menu .menu-list .menu__item .dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: calc(var(--gap-default) + 1rem);
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  opacity: 0;
  transition: var(--animation-transition-medium);
}
.side-menu__container .side-menu .menu-list .menu__item .dropdown__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}
.side-menu__container .side-menu .menu-list .menu__item .dropdown__item__title:hover {
  color: var(--clr-secondary);
}
.side-menu__container .side-menu .menu-list .menu__item.expanded .expand-icon__container {
  transform: rotate(180deg);
}
.side-menu__container .side-menu .menu-list .menu__item.expanded .dropdown {
  position: static;
  z-index: 1;
  opacity: 1;
}
.side-menu__container .side-menu[aria-expanded=true] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media only screen and (max-width: 1280px) {
  .body-wrapper .main-wrapper:has(.side-menu__container.menu-open) .side-menu-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background: var(--clr-surface);
    box-shadow: var(--file-cover-surface-elevation-shadow);
    z-index: 8;
  }
  .body-wrapper .main-wrapper:has(.side-menu__container.menu-open) .side-menu-background::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    background: var(--clr-scrim);
  }
}
#main-header {
  position: -webkit-sticky;
  position: sticky;
  top: var(--gap-default);
  height: 3rem;
  margin-block: var(--gap-default);
  padding-inline: var(--gap-default);
  display: grid;
  grid-template-columns: repeat(var(--col-num-default), 1fr);
  z-index: 5;
  background: var(--clr-surface);
}
#main-header .menu-icon__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-header .menu-icon__container .menu-toggle {
  height: 30px;
  min-width: 30px;
  transition: var(--animation-transition-medium);
}
#main-header .menu-icon__container .menu-close {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  height: 20px;
  min-width: 20px;
  opacity: 0;
  z-index: -1;
  transition: var(--animation-transition-medium);
}
#main-header .theme-toggle-icon__container {
  display: none;
  min-width: 30px;
}
#main-header .theme-toggle-icon__container img {
  width: 30px;
}
#main-header .logo__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: var(--gap-default);
}
#main-header .nav-list__container {
  grid-column: calc(var(--col-num-default) / 2)/var(--col-num-default);
  padding-inline: var(--gap-default);
}
#main-header .nav-list__container .nav-list {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--gap-default) * 1.5);
}
#main-header .nav-list__container .nav-list li {
  transition: var(--animation-transition-fast);
}
#main-header .nav-list__container .nav-list li:hover {
  color: var(--clr-primary);
  transform: scale(var(--animation-upscale-default));
}
#main-header .nav-list__container .nav-list li:active {
  color: var(--clr-on-surface-disabled);
}
#main-header .user-icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
}
#main-header .user-icon__container img {
  width: calc(var(--gap-default) * 1.5);
}
#main-header:not(.menu-open).rolled-up {
  display: flex;
  gap: var(--gap-default);
  padding-block: calc(var(--gap-default) / 2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--clr-surface-menu);
  box-shadow: var(--menu-elevation-shadow);
}
#main-header:not(.menu-open).rolled-up .theme-toggle-icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-header:not(.menu-open).rolled-up [class*=container]:nth-child(n+3) {
  display: none;
}
#main-header.menu-open.rolled-up {
  background: transparent;
}
#main-header.menu-open.rolled-up [class*=container]:nth-child(n+3) {
  display: none;
}
#main-header.menu-open .theme-toggle-icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-header.menu-open .menu-toggle {
  opacity: 0;
  z-index: 10;
}
#main-header.menu-open .menu-close {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  #main-header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-default);
  }
  #main-header .logo__container {
    padding-inline: 0;
  }
  #main-header .nav-list__container {
    display: none;
  }
  #main-header .user-icon__container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #main-header .user-icon__container img {
    min-width: 30px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 905px) {
  #main-header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-default);
  }
  #main-header .logo__container {
    padding-inline: 0;
  }
  #main-header .nav-list__container .nav-list li:nth-child(n+2) {
    display: none;
  }
  #main-header .user-icon__container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #main-header .user-icon__container img {
    min-width: 30px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 905px) and (min-width: 650px) {
  #main-header .nav-list__container .nav-list li:nth-child(2) {
    display: block;
  }
}
@media only screen and (min-width: 600px) and (max-width: 905px) and (min-width: 750px) {
  #main-header .nav-list__container .nav-list li:nth-child(3) {
    display: block;
  }
}
@media only screen and (min-width: 905px) and (max-width: 1280px) {
  #main-header .logo__container {
    grid-column-end: span 4;
  }
  #main-header .nav-list__container {
    grid-column: calc(var(--col-num-default) / 2 + 1)/var(--col-num-default);
  }
}
@media only screen and (min-width: 905px) and (max-width: 1280px) and (max-width: 1000px) {
  #main-header .logo__container {
    padding-right: 0;
  }
  #main-header .nav-list__container .nav-list li:nth-child(4) {
    display: none;
  }
}
@media only screen and (min-width: 905px) and (max-width: 1280px) and (max-width: 1100px) {
  #main-header .nav-list__container .nav-list li:nth-child(5) {
    display: none;
  }
}
@media only screen and (max-width: 1280px) {
  #main-header.menu-open {
    position: static;
  }
  #main-header.menu-open .menu-icon__container,
#main-header.menu-open .theme-toggle-icon__container {
    position: fixed;
    top: calc(var(--gap-default) + 1.5rem - 15px);
    left: var(--gap-default);
    z-index: 10;
  }
}
@media only screen and (max-width: 1280px) and (max-width: 905px) {
  #main-header.menu-open .menu-icon__container,
#main-header.menu-open .theme-toggle-icon__container {
    top: var(--gap-default);
  }
}
@media only screen and (max-width: 1280px) {
  #main-header.menu-open .theme-toggle-icon__container {
    left: calc(235px - var(--gap-default) * 2);
  }
}
@media only screen and (max-width: 1280px) {
  #main-header.menu-open.rolled-up [class*=container] {
    display: block;
  }
}
footer {
  display: grid;
  grid-template-columns: repeat(var(--col-num-default), 1fr);
  gap: var(--gap-default);
  margin-top: var(--gap-default);
  padding-block: var(--gap-default);
}
footer .footer-content-wrapper {
  position: relative;
  grid-column-end: span calc(var(--col-num-default) - 2);
  padding-inline: var(--gap-default);
  display: grid;
  gap: var(--gap-default);
}
footer .footer-content-wrapper .head {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-default);
}
footer .footer-content-wrapper .head .media__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-default);
}
footer .footer-content-wrapper .head .media__container > a img {
  height: 2rem;
  border-radius: 50%;
  transition: var(--animation-transition-medium);
}
footer .footer-content-wrapper .head .media__container > a img:hover {
  transform: scale(var(--animation-upscale-default));
  box-shadow: var(--hover-elevation-shadow);
}
footer .footer-content-wrapper .head::after {
  position: absolute;
  right: 0;
  bottom: calc(-1 * var(--gap-default));
  height: 0;
  width: 100%;
  content: "";
  border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
}
footer .footer-content-wrapper .main__content {
  padding-block: var(--gap-default);
}
footer .footer-content-wrapper .main__content .boxes__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--gap-default);
}
footer .footer-content-wrapper .main__content .boxes__container .__box {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-default) / 2);
}
footer .footer-content-wrapper .main__content .boxes__container .__box .__title {
  position: relative;
}
footer .footer-content-wrapper .main__content .boxes__container .__box .__title::before {
  position: absolute;
  left: 0;
  bottom: -2px;
  height: calc(var(--divider-hor-height) * 2);
  width: 35px;
  content: "";
  background: var(--clr-on-surface-medium-emphasis);
}
footer .footer-content-wrapper .main__content .boxes__container .input-box .__input {
  display: grid;
  gap: calc(var(--gap-default) / 2);
}
footer .footer-content-wrapper .main__content .boxes__container .input-box .__input input[type=text] {
  height: 2rem;
  font-size: 1rem;
  color: var(--clr-on-surface-high-emphasis);
  background: none;
  border: none;
  outline: none;
  border-bottom: calc(var(--divider-hor-height) * 2) solid var(--clr-on-surface-high-emphasis);
  transition: var(--animation-transition-fast);
}
footer .footer-content-wrapper .main__content .boxes__container .input-box .__input input[type=text]:focus {
  border-bottom-color: var(--clr-secondary);
}
footer .footer-content-wrapper .main__content .boxes__container .input-box .__input .btn-footer-search {
  width: 50%;
  padding: 5px 20px;
  background: var(--clr-on-surface-high-emphasis);
  color: var(--clr-surface);
  text-transform: uppercase;
}
footer .footer-content-wrapper .main__content .boxes__container .input-box .__input .btn-footer-search:hover {
  background: var(--clr-secondary);
  transform: scale(var(--animation-upscale-default)) translateX(5px);
}
footer .footer-content-wrapper .main__content .boxes__container::after {
  position: absolute;
  right: 0;
  bottom: calc(-1 * var(--gap-default));
  height: 0;
  width: 100%;
  content: "";
  border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
}
footer .footer-content-wrapper .bottom .bottom__content {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-default);
}
footer .footer-content-wrapper .bottom .bottom__content span {
  display: flex;
  align-items: center;
  gap: calc(var(--gap-default) / 2);
  color: var(--clr-on-surface-medium-emphasis);
}

@media only screen and (max-width: 1280px) {
  footer .footer-content-wrapper {
    grid-column-end: span var(--col-num-default);
  }
}
@media only screen and (max-width: 1280px) and (max-width: 600px) {
  footer .footer-content-wrapper .head {
    justify-content: center;
  }
}
@media only screen and (max-width: 1280px) and (min-width: 905px) {
  footer .footer-content-wrapper {
    grid-column-end: span calc(var(--col-num-default) - 2);
  }
}
@media only screen and (max-width: 1280px) {
  footer .footer-content-wrapper .main__content .boxes__container {
    grid-template-columns: repeat(calc(var(--col-num-default) / 2), 1fr);
  }
}
@media only screen and (max-width: 1280px) and (max-width: 375px) {
  footer .footer-content-wrapper .main__content .boxes__container .input-box {
    grid-column-end: span calc(var(--col-num-default) / 2);
  }
}
@media only screen and (max-width: 1280px) and (min-width: 600px) and (max-width: 750px) {
  footer .footer-content-wrapper .main__content .boxes__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1280px) and (min-width: 905px) {
  footer .footer-content-wrapper .main__content .boxes__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1280px) and (min-width: 905px) and (min-width: 955px) {
  footer .footer-content-wrapper .main__content .boxes__container {
    grid-template-columns: repeat(calc((var(--col-num-default) - 2) / 2), 1fr);
  }
}
@media only screen and (max-width: 1280px) {
  footer .footer-content-wrapper .bottom .bottom__content {
    flex-direction: column;
  }
  footer .footer-content-wrapper .bottom .bottom__content span {
    justify-content: space-between;
  }
  footer .footer-content-wrapper .bottom .bottom__content span.__copyright {
    flex-direction: column;
  }
}