.btn-default {
    border: none;
    background: var(--clr-gray);
    transition: var(--animation-transition-fast);
    cursor: pointer;

    &:not(:disabled):hover {
        background: var(--clr-primary);
        transform: scale(var(--animation-upscale-default));
        box-shadow: var(--hover-elevation-shadow);
    }

    &:active {
        box-shadow: none;
    }

    &:disabled {
        background: var(--clr-on-surface-disabled);
        cursor: text;
    }
}