#main-header {
    position: sticky;
    top: var(--col-gap-default); // This is to prevent the header from jumping when it becomes sticky

    height: calc(var(--col-gap-default) * 2.5);

    margin-block: var(--col-gap-default) calc(var(--col-gap-default) / 2);
    padding-inline: var(--col-gap-default);

    display: grid;
    grid-template-columns: repeat(var(--col-num-default), 1fr);

    z-index: 10;
    background: var(--clr-surface);

    .menu__container {        
        display: flex;
        justify-content: center;
        align-items: center;

        .chip-line {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);

            height: 20px;
            width: 2px;

            background: var(--clr-primary);
        }

        img {
            height: 30px;
        }
    }

    .logo-small__container {
        display: none;

        img {
            height: 30px;
        }
    }

    .logo__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding-inline: var(--col-gap-default);

        img {
            height: 30px;
        }
    }

    .nav-list__container {
        // Span from 6th to 12th column
        grid-column: 6 / var(--col-num-default);
        padding-inline: var(--col-gap-default);

        .nav-list {
            height: 100%;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: calc(var(--col-gap-default) * 2);
    
            li {
                transition: var(--animation-transition-default);
    
                &:hover {
                    color: var(--clr-primary);
                    transform: scale(var(--animation-upscale-default));
                }
                
                &:active {
                    color: var(--clr-on-surface-disabled);
                }
            }
        }
    }

    .user-icon__container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: calc(var(--col-gap-default) * 1.75);
        }
    }

    &.rolled-up {
        display: flex;
        gap: var(--col-gap-default);
        width: fit-content;
        background: var(--clr-surface-menu);

        // clip-path: polygon(0% 0%, 100% 0, 100% 70%, 85% 100%, 0% 100%);

        box-shadow: var(--menu-elevation-shadow);

        .logo-small__container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        [class*="container"]:nth-child(n + 3) {
            display: none;
        }
    }
}