#main-header {
    position: sticky;
    top: var(--gap-default); // This is to prevent the header from jumping when it becomes sticky

    height: calc(var(--gap-default) * 2.5);

    margin-block: var(--gap-default) calc(var(--gap-default) / 2);
    padding-inline: var(--gap-default);

    display: grid;
    grid-template-columns: repeat(var(--col-num-default), 1fr);

    z-index: 10;
    background: var(--clr-surface);

    .menu-icon__container {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        .menu-toggle {
            height: 30px;

            transition: var(--animation-transition-default);
        }

        .menu-close {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);

            height: 20px;

            opacity: 0;
            z-index: -1;

            transition: var(--animation-transition-default);
        }
    }

    .logo-small-icon__container {
        display: none;

        img {
            height: 30px;
        }
    }

    .logo-icon__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding-inline: var(--gap-default);

        img {
            height: 30px;
        }
    }

    .nav-list__container {
        // Span from 6th to 12th column
        grid-column: 6 / var(--col-num-default);
        padding-inline: var(--gap-default);

        .nav-list {
            height: 100%;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: calc(var(--gap-default) * 2);
    
            li {
                transition: var(--animation-transition-default);
    
                &:hover {
                    color: var(--clr-primary);
                    transform: scale(var(--animation-upscale-default));
                }
                
                &:active {
                    color: var(--clr-on-surface-disabled);
                }
            }
        }
    }

    .user-icon__container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: calc(var(--gap-default) * 1.5);
        }
    }

    &:not(.menu-open) {
        
        &.rolled-up {
            display: flex;
            gap: var(--gap-default);
            width: fit-content;
            background: var(--clr-surface-menu);
    
            box-shadow: var(--menu-elevation-shadow);
    
            .logo-small-icon__container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            [class*="container"]:nth-child(n + 3) {
                display: none;
            }
        }
    }

    &.menu-open.rolled-up {
        background: transparent;

        [class*="container"]:nth-child(n + 3) {
            display: none;
        }
    }

    &.menu-open {

        .menu-toggle {
            opacity: 0;
            z-index: 10;
        }

        .menu-close {
            opacity: 1;
        }
    }
}