// !Main classes
.body-wrapper {
  // padding-inline: var(--col-gap-default);
  color: var(--clr-on-surface-high-emphasis);
  background: var(--clr-surface);

  img {
    cursor: pointer;
  }

  .btn-default {
    border: none;

    transition: var(--animation-transition-default);

    &:hover {
      background: var(--clr-primary);
      transform: scale(var(--animation-upscale-default));
      box-shadow: var(--hover-elevation-shadow);
    }

    &:active {
      transform: scale(var(--animation-downscale-default));
      box-shadow: none;
    }

    &:disabled {
      background: var(--clr-on-surface-disabled);
    }
  }

  .main-wrapper {
    display: grid;
    row-gap: calc(var(--row-gap-default) / 2);
    grid-template-columns: repeat(var(--col-num-default), 1fr);

    padding-inline: var(--col-gap-default);

    background: var(--clr-surface);

    .img__container {
      position: relative;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      & > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    img {
      object-fit: cover; // TODO: Remove after adding containers to all img tags
    }

    .general-section__container {
      grid-column: 2 / span 5;

      .__item {
        position: relative;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: var(--col-gap-default);
        row-gap: calc(var(--row-gap-default) / 6);

        padding-inline: var(--col-gap-default); // TODO: remove in mobile layout 
        padding-block: calc(var(--row-gap-default) / 2);

        .__info {
          display: flex;
          flex-direction: column;
          gap: calc(var(--row-gap-default) / 6);

          .__subtitle {
            color: var(--clr-on-surface-medium-emphasis);
          }
        }

        &:first-child {

          .img__container {
            grid-column: 4 / span 2;
          }

          .__info {
            grid-column: 1 / span 3;
            grid-row-start: 1;
          }
        }

        &:not(:last-child)::after {
          position: absolute;
          left: var(--col-gap-default);
          bottom: 0;

          content: "";
          width: calc(100% - var(--col-gap-default) * 2);
          border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
        }
      }
    }

    .latest-section__container {
      position: relative;

      .latest-section {
        display: grid;

        & > div, & > article {
          padding-inline: var(--col-gap-default); // TODO: remove in mobile layout
        }
        
        .__header {
          padding-top: calc(var(--row-gap-default) / 2);
        }

        .__item {
          position: relative;

          padding-block: calc(var(--row-gap-default) / 2); // TODO: remove in mobile layout;

          display: grid;
          grid-template-columns: repeat(2, 1fr) 0.55fr; // TODO: Change in media queries
          column-gap: var(--col-gap-default);

          .__info {
            display: grid;
            
            .__meta {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .__time {
                font-size: 10px;
                color: var(--clr-on-surface-medium-emphasis);
              }
            }
          }

          &:not(:last-child)::after {
            position: absolute;
            left: var(--col-gap-default);
            bottom: 0;
  
            content: "";
            width: calc(100% - var(--col-gap-default) * 2);
            border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
          }
        }
      }

      &::before, &::after { // TODO: remove in mobile layout
        position: absolute;
        top: calc(var(--row-gap-default) / 2);

        content: "";
        height: calc(100% - var(--row-gap-default));
      }

      &::before {
        left: 0;
        border-left: var(--divider-ver-width) solid var(--clr-outline);
      }

      &::after {
        right: 0;
        border-right: var(--divider-ver-width) solid var(--clr-outline);
      }
    }

    .stock-section__container .stock-section {
      display: grid;
      
      & > div, & > article {
        padding-inline: var(--col-gap-default); // TODO: remove in mobile layout
      }

      .__header {
        position: relative;

        padding-block: calc(var(--row-gap-default) / 2);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        gap: calc(var(--row-gap-default) / 2);

        img {
          width: 100%;
          object-fit: cover;
        }

        &::after {
          position: absolute;
          left: var(--col-gap-default);
          bottom: 0;

          content: "";
          width: calc(100% - var(--col-gap-default) * 2);
          border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
        }
      }

      .__item {
        position: relative;

        padding-block: calc(var(--row-gap-default) / 2.5);

        display: grid;
        gap: 0.5rem;

        .__title {
          font-weight: 600; // TODO: rework
          letter-spacing: 0.5px;
        }

        .__meta {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .price {
            color: var(--clr-on-surface-medium-emphasis);
          }

          .shift {   
            font-weight: 600;

            &.minus {
              color: var(--clr-primary);
            }

            &.plus {
              color: var(--clr-secondary);
            }
          }
        }

        &:not(:last-child)::after {
          position: absolute;
          left: var(--col-gap-default);
          bottom: 0;

          content: "";
          width: calc(100% - var(--col-gap-default) * 2);
          border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
        }
      }
    }

    .popular-section__container {
      grid-row-start: 2;
      grid-column: 2 / var(--col-num-default);

      .popular-section {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        & > div, & > article {
          padding-inline: var(--col-gap-default); // TODO: remove in mobile layout
          padding-block: calc(var(--row-gap-default) / 2);
        }

        &__item {
          position: relative;

          display: flex;
          flex-direction: column;
          gap: calc(var(--row-gap-default) / 4);

          img {
            width: 100%;
            height: 100%;
          }

          .__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.25rem;

            .title-wrapper {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              column-gap: var(--col-gap-default);
            }

            .__subtitle {
              color: var(--clr-on-surface-medium-emphasis);
            }
          }

          &:not(:last-child)::after {
            position: absolute;
            top: calc(var(--row-gap-default) / 2);
            right: 0;
    
            content: "";
            height: calc(100% - var(--row-gap-default));
  
            border-right: var(--divider-ver-width) solid var(--clr-outline);
          }
        }
      }
    }

    .additional-section__container {
      grid-row-start: 3;
      grid-column: 2 / var(--col-num-default);

      .additional-section {
        display: grid;
        grid-template-columns: repeat(10, 1fr);

        &__item {
          position: relative;
          padding: var(--col-gap-default);

          &:first-child::after {
            position: absolute;
            top: var(--col-gap-default);
            right: 0;

            height: calc(100% - var(--col-gap-default) * 2);

            content: "";

            border-right: var(--divider-ver-width) solid var(--clr-outline);
          }

          .video__container {
            position: relative;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            .__poster {
              position: absolute;
              top: 0;
              left: 0;

              width: 100%;
              height: 100%;

              z-index: 1;

              & > img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              .__controls {
                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;
                height: 10%;

                padding-inline: var(--col-gap-default);
                padding-bottom: 0;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5rem;

                content: "";

                // Semi-transparent white background without opacity
                background: var(--clr-outline);

                transition: var(--animation-transition-default);

                .play-icon__container {
                  cursor: pointer;

                  img {
                    height: calc(var(--row-gap-default) / 2);
                  }

                  &:hover {
                    transform: scale(var(--animation-upscale-default));
                  }
                }

                .__title {
                  color: var(--clr-surface);
                }
              }
            }

            video {
              width: 100%;
              height: 100%;
  
              object-fit: cover;
            }

            &.playing {

              .__controls, .__poster {
                z-index: 0;
                opacity: 0;
              }
            }
          }

          &:nth-child(2)::after {
            position: absolute;
            left: var(--col-gap-default);
            bottom: 0;
  
            content: "";
            width: calc(100% - var(--col-gap-default) * 2);
            border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
          }

          &:not(:first-child) {
            display: grid;
            gap: calc(var(--row-gap-default) / 6);

            .__content {
              display: grid;
              
              .__meta {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .__time {
                  font-size: 10px;
                  color: var(--clr-outline);
                }
              }
            }
          }
        }
      }
    }
  }
}