:root {
    --width-mobile: 375px;
    --width-tablet: 768px;
    --width-desktop: 1440px;

    --divider-ver-width: 0.05rem;
    --divider-hor-height: 0.05rem;

    --ff-primary: 'Inter', sans-serif;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    --fs-300: 0.6875rem;
    --fs-400: 0.8125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2.25rem;
    --fs-800: 3rem;

    --clr-orange: #e9ab53;
    --clr-red: #f15e50;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-primary: #fffdfa;
    --clr-grayblue-100: #c5c6ce;
    --clr-grayblue-200: #5d5f79;
    --clr-grayblue-300: #2d2f3e;

    --column-gap-default: 1.5rem;
    --row-gap-default: calc(var(--column-gap-default) * 2);

    --scale-default: 1.1;

    --transition-default: all 0.1s ease-in-out;
}