@import '../styles/ini/variables';

html {
  overflow-x: hidden;
}

// !Main classes
.body-wrapper {
  color: var(--clr-on-surface-high-emphasis);
  background: var(--clr-surface);

  .main-wrapper {
    display: grid;
    row-gap: var(--gap-default);
    grid-template-columns: repeat(var(--col-num-default), 1fr);

    padding-inline: var(--gap-default);

    background: var(--clr-surface);

    .general-section__container {
      position: relative;
      grid-column-end: span 5;

      .__item {
        position: relative;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: var(--gap-default);
        row-gap: var(--gap-default);

        padding: var(--gap-default);

        .__info {
          display: flex;
          flex-direction: column;
          gap: calc(var(--gap-default) / 6);

          .__subtitle {
            color: var(--clr-on-surface-medium-emphasis);
          }
        }

        &:first-child {

          .img__container {
            grid-column: 4 / span 2;
          }

          .__info {
            grid-column: 1 / span 3;
            grid-row-start: 1;
          }
        }

        &:not(:last-child)::after {
          position: absolute;
          left: var(--gap-default);
          bottom: 0;

          content: "";
          width: calc(100% - var(--gap-default) * 2);
          border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
        }
      }

      &::after {
        position: absolute;
        top: var(--gap-default);
        right: 0;

        height: calc(100% - calc(var(--gap-default) * 2));

        content: "";

        border-right: var(--divider-ver-width) solid var(--clr-outline);
      }
    }

    .latest-section__container {
      position: relative;

      .latest-section {
        display: grid;

        & > div, & > article {
          padding-inline: var(--gap-default);
        }
        
        .__header {
          padding-top: var(--gap-default);
        }

        .__item {
          position: relative;

          padding-block: var(--gap-default);

          display: grid;
          grid-template-columns: repeat(2, 1fr) 0.65fr;
          column-gap: var(--gap-default);

          .__info {
            display: grid;
            
            .__meta {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .__time {
                font-size: 10px;
                color: var(--clr-on-surface-medium-emphasis);
              }
            }

            .__title {
              font-size: 18px;
            }
          }

          &.btn {
            width: 100%;
            display: none;
          }

          &:not(:last-child)::after {
            position: absolute;
            left: var(--gap-default);
            bottom: 0;
  
            content: "";
            width: calc(100% - var(--gap-default) * 2);
            border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
          }

          &:nth-child(7)::after { // ? :last-child didnt work
            display: none;
          }
        }
      }

      &::after {
        position: absolute;
        top: var(--gap-default);
        right: 0;

        height: calc(100% - calc(var(--gap-default) * 2));

        content: "";

        border-right: var(--divider-ver-width) solid var(--clr-outline);
      }
    }

    .stock-section__container {

      .stock-section {
        display: grid;
        
        & > div, & > article {
          padding-inline: var(--gap-default);
        }
  
        .__header {
          position: relative;
  
          padding-block: var(--gap-default);
  
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
  
          gap: var(--gap-default);
  
          img {
            width: 100%;
            object-fit: cover;
          }
  
          &::after {
            position: absolute;
            left: var(--gap-default);
            bottom: 0;
  
            content: "";
            width: calc(100% - var(--gap-default) * 2);
            border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
          }
        }
  
        .__item {
          position: relative;
  
          padding-block: calc(var(--gap-default) * 0.8);
  
          display: grid;
          gap: 0.5rem;
  
          .__title {
            font-weight: var(--fw-600);
            letter-spacing: 0.5px;
          }
  
          .__meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
  
            .price {
              color: var(--clr-on-surface-medium-emphasis);
            }
  
            .shift {   
              font-weight: var(--fw-600);
  
              &.minus {
                color: var(--clr-primary);
              }
  
              &.plus {
                color: var(--clr-secondary);
              }
            }
          }
  
          &:not(:last-child)::after {
            position: absolute;
            left: var(--gap-default);
            bottom: 0;
  
            content: "";
            width: calc(100% - var(--gap-default) * 2);
            border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
          }
        }
      }
    }

    .popular-section__container {

      .popular-section {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        & > div, & > article {
          padding: var(--gap-default);
        }

        .__item {
          position: relative;

          display: flex;
          flex-direction: column;
          gap: calc(var(--gap-default) / 2);

          img {
            width: 100%;
            height: 100%;
          }

          .__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.25rem;

            .title-wrapper {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              column-gap: var(--gap-default);
            }

            .__subtitle {
              color: var(--clr-on-surface-medium-emphasis);
            }
          }

          &:not(:last-child)::after {
            position: absolute;
            top: var(--gap-default);
            right: 0;
    
            content: "";
            height: calc(100% - calc(var(--gap-default) * 2));
  
            border-right: var(--divider-ver-width) solid var(--clr-outline);
          }
        }
      }
    }

    .additional-section__container {

      .additional-section {
        display: grid;
        grid-template-columns: repeat(calc(var(--col-num-default) - 2), 1fr);

        .__item {
          position: relative;
          padding: var(--gap-default);

          &:first-child::after {
            position: absolute;
            top: var(--gap-default);
            right: 0;

            height: calc(100% - var(--gap-default) * 2);

            content: "";

            border-right: var(--divider-ver-width) solid var(--clr-outline);
          }

          .video__container {
            position: relative;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            .__poster {
              position: absolute;
              top: 0;
              left: 0;

              width: 100%;
              height: 100%;

              z-index: 1;

              & > img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              .__controls {
                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;
                height: max(10%, 50px);

                padding-inline: var(--gap-default);
                padding-bottom: 0;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5rem;

                content: "";

                // Semi-transparent white background without opacity
                background: var(--clr-on-surface-medium-emphasis);

                transition: var(--animation-transition-slow);

                .play-icon__container {
                  cursor: pointer;

                  img {
                    width: 30px;
                  }

                  &:hover {
                    transform: scale(var(--animation-upscale-default));
                  }
                }

                .__title {
                  color: var(--clr-surface);
                }
              }
            }

            video {
              width: 100%;
              height: 100%;
  
              object-fit: cover;
            }

            &.playing {

              .__controls, .__poster {
                z-index: 0;
                opacity: 0;
              }
            }
          }

          &:nth-child(n + 2):not(:last-child)::after {
            position: absolute;
            left: var(--gap-default);
            bottom: 0;
  
            content: "";

            width: calc(100% - var(--gap-default) * 2);
            border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
          }

          &:not(:first-child) {
            display: grid;
            gap: calc(var(--gap-default) / 3);

            .img-wrapper img {
              height: 100%;
              object-fit: cover;
            }

            .__content {
              display: grid;
              
              .__meta {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .__time {
                  font-size: 10px;
                  color: var(--clr-outline);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $width-tablet-portrait) {
  
  .body-wrapper .main-wrapper {

    .general-section__container {

      .__item:first-child .img__container {
        max-height: 20rem;
      }

      &::after {
        display: none;
      }
    }

    .latest-section__container {

      .__header {
        position: relative;
        padding-bottom: var(--gap-default);

        &::after {
          position: absolute;
          left: var(--gap-default);
          bottom: 0;

          content: "";
          width: calc(100% - var(--gap-default) * 2);
          border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
        }
      }

      .__item {
      
        &.btn {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &::before {
        position: absolute;
        left: var(--gap-default);
        top: 0;

        content: "";
        width: calc(100% - var(--gap-default) * 2);
        border-top: var(--divider-hor-height) dotted var(--clr-outline);
      }
    }

    .general-section__container .general-section, 
    .latest-section__container .latest-section {

      .__item:not(:first-child) .__info .__title {

        @media only screen and (min-width: calc($width-mobile + 25px)) {
          font-size: 22px;
        }
      }
    }

    .stock-section__container {
      position: relative;
      grid-column-end: span var(--col-num-default);

      .stock-section {

        .__header {
          gap: calc(var(--gap-default) * 2);

          .__title {
            position: relative;

            width: 100%;

            &::after {
              position: absolute;
              left: 0;
              bottom: calc(-1 * var(--gap-default));
    
              content: "";
              width: 100%;
              border-bottom: var(--divider-hor-height) dotted var(--clr-outline);
            }
          }
        }
      }

      &::before {
        position: absolute;
        left: var(--gap-default);
        top: 0;

        content: "";
        width: calc(100% - var(--gap-default) * 2);
        border-top: var(--divider-hor-height) dotted var(--clr-outline);
      }
    }

    .popular-section__container {
      position: relative;
      
      .popular-section {
        grid-template-columns: repeat(2, 1fr);

        .__item:first-child {
          display: none;
        }
      }

      &::before {
        position: absolute;
        left: var(--gap-default);
        top: 0;

        content: "";
        width: calc(100% - var(--gap-default) * 2);
        border-top: var(--divider-hor-height) dotted var(--clr-outline);
      }
    }
  
    .additional-section__container {
      position: relative;

      .additional-section {

        .__item {

          grid-column-end: 2;

          &:first-child {
            grid-column-end: span calc(var(--col-num-default) / 2);

            &::after {
              display: none;
            }
          }

          &:nth-child(3) {
            grid-column-start: 2;
          }

          &:nth-child(even)::after {
            display: none;
          }

          &:not(:nth-child(even)):nth-child(n + 1)::before {
            position: absolute;
            top: var(--gap-default);
            left: 0;
            
            content: "";

            height: calc(100% - var(--gap-default) * 2);
            border-left: var(--divider-hor-height) solid var(--clr-outline);
          }
        }
      }

      &::before {
        position: absolute;
        left: var(--gap-default);
        top: 0;

        content: "";
        width: calc(100% - var(--gap-default) * 2);
        border-top: var(--divider-hor-height) dotted var(--clr-outline);
      }

      &::after {
        position: absolute;
        left: var(--gap-default);
        bottom: 0;

        content: "";
        width: calc(100% - var(--gap-default) * 2);
        border-top: var(--divider-hor-height) dotted var(--clr-outline);
      }
    }
  }
}

@media only screen and (min-width: $width-tablet-portrait) and (max-width: $width-tablet-landscape) {
  .body-wrapper .main-wrapper {
    
    .general-section__container .general-section {

      .__item {

        &:first-child .img__container {
          max-height: 15rem;
        }

        @media only screen and (max-width: calc($width-tablet-portrait + 150px)) {
          grid-template-columns: repeat(3, 0.89fr) 1.33fr;
        }
      }
    }

    .latest-section__container .latest-section {

      .__item {

        @media only screen and (max-width: calc($width-tablet-portrait + 150px)) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    .general-section__container .general-section, 
    .latest-section__container .latest-section {

      .__item:not(:first-child)  {

        .__info .__title {
  
          @media only screen and (max-width: calc($width-tablet-portrait + 150px)) {
            font-size: 18px;

            @media only screen and (max-width: calc($width-tablet-portrait + 50px)) {
              font-size: 16px;
            }
          }
        }

      }
    }

    .additional-section__container {

      .additional-section {

        grid-template-columns: 5fr 3fr;

        .__item {
          grid-row: auto;
          grid-column-end: auto;

          &:not(:first-child)::after {
            display: none;
          }

          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $width-tablet-landscape) {

  .body-wrapper .main-wrapper {
    padding-inline: 0;

    .general-section__container {
      grid-column-end: span 4;

      .__item {
        grid-template-columns: repeat(4, 1fr);

        @media only screen and (max-width: calc($width-mobile - 25px)) {
          
          grid-template-columns: repeat(2, 1fr) 0.5fr 1.5fr;
        }

        .__info {
          grid-column-end: span 3;

          .__subtitle {
            display: none;
          }
        }

        &:first-child {

          .img__container {
            grid-column: 1 / span 4;
          }

          .__info {
            grid-row-start: 2;
            grid-column-end: span 4;
          }
        }
      }
    }

    .latest-section__container {
      grid-column-end: span 4;
    }
  }
}

@media only screen and (min-width: $width-tablet-portrait) and (max-width: $width-laptop) {

  .body-wrapper .main-wrapper {

    --col-num-current: var(--col-num-default);

    @media only screen and (min-width: $width-tablet-landscape) {
      --col-num-current: calc(var(--col-num-default) - 2);
    }

    .stock-section__container {
      position: relative;
      grid-column-end: span var(--col-num-current);
  
      .stock-section {
        display: grid;
        grid-template-columns: repeat(calc(var(--col-num-current) / 2), 1fr);

        .__header {

          .__title {
            display: none;
          }

          &::after {
            display: none;
          }
        }

        .__item {

          .__title {
            display: flex;
            align-items: center;
          }

          &::after {
            display: none;
          }

          &::before {
            position: absolute;
            top: var(--gap-default);
            left: 0;

            height: calc(100% - var(--gap-default) * 2);

            content: "";

            border-left: var(--divider-ver-width) solid var(--clr-outline);
          }

          &:nth-child(n + 6) {
            display: none;
          }

          @media only screen and (max-width: $width-tablet-landscape) {
            &:nth-child(n + 5) {
              display: none;
            }
          }
        }
      }
    }

    .popular-section__container {
      position: relative;
      
      .popular-section {
        grid-template-columns: repeat(calc(var(--col-num-current) / 2), 1fr);

        @media only screen and (max-width: $width-tablet-landscape) {
          
          .__item:first-child {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $width-tablet-landscape) and (max-width: $width-laptop) {
  .body-wrapper .main-wrapper {

    .general-section__container {
      grid-column-end: span 6;

      @media only screen and (max-width: 1150px) {

        .__item:not(:first-child) {
          grid-template-columns: repeat(3, 1fr);
  
          .__info {
            grid-column-end: span 2;
          }
        }
      }
    }

    .latest-section__container {
      grid-column-end: span 4;

      @media only screen and (max-width: calc($width-tablet-landscape + 250px)) {

        .__item:not(:first-child) {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      .latest-section .__item {

        &:nth-child(7), &:nth-child(6)::after {
          display: none;
        }
      } 
    }
  }
}

@media only screen and (max-width: $width-laptop) {

  .body-wrapper .main-wrapper {

    row-gap: 0;

    .latest-section__container {

      &::after {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: $width-tablet-landscape) and (max-width: $width-desktop) {

  .body-wrapper .main-wrapper {

    .latest-section__container .latest-section .__item {
      
      .__info .__title {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (min-width: $width-laptop) and (max-width: $width-desktop) {
  .body-wrapper .main-wrapper {

    .latest-section__container {

      @media only screen and (max-width: calc($width-laptop + 75px)) {
        .latest-section .__item:nth-child(6) {
          display: none;
        }

        .latest-section .__item:nth-child(5)::after {
          display: none;
        }
      }

      .latest-section .__item:nth-child(n + 7) {
        display: none;
      }

      .latest-section .__item:nth-child(n + 6)::after {
        display: none;
      }
    }

    .stock-section__container {

      .stock-section .__item:nth-child(8) {
        display: none;
      }

      .stock-section .__item:nth-child(7)::after {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: $width-laptop) {
  .body-wrapper .main-wrapper .stock-section__container {

    &.grid-col-start-2, &.grid-col-start-3 {
      grid-column-start: auto;
    }
  }
}